$color:#05a5b1;
$color_white:#FFFFFF;
$colot_gray: #7e7e7e;
nav{
  height: 100px;
  background-color: $color;
  .navbar-brand{
    padding: 0;
    img{background-color: $color_white;}
  }
  .navbar-right{
    li{a{
      padding:40px 11.89974px 40px 12.81249px;
      font-family:OpenSans;
      font-weight: bold;
      color: $color_white;
      border-right: 1px solid #198991;
      text-align: center;
    i{ position: relative;
      display: none;
        top: 20px;
      margin: 0 auto;
      .list-group {
        position: absolute;
        margin-bottom: 20px;
        padding-left: 0;
        top: 19px;
        left: -14px;
        border: 0;
       li{ border-radius:0;
         padding: 16px 0;
       border: 0;
       background-color: rgba(5, 165, 177, 0.5);
       color: $color_white;}
        li:hover{background-color: $color;}
      }
    }}
      a:hover{
        padding:40px 11.89974px 26px 12.81249px;
        background-color: $color;
        i{display: block;
          transition: width 0.5s,background-color 0.5s;
          right: 0;}
      }
    }
  }
}
.asosiy{width: 79px;}
.maktab_haqida{width: 151px;}
.oquvchilar{width: 128px;left: -13px !important;}
.ota_onalarga{width: 143px;}
.togaraklar{width: 132px;left: -13px !important;}
.kutibhona{width: 114px;}
.galeriya{width: 104px;left: -13px !important;}
.boglanish{width: 116px;}
.yordam{width: 92px;}


#myCarousel{
  img{width: 100%;}
}
.carousel-caption {
  text-align: left;
  left: 158px;
  padding-bottom: 195px;
  h1 {
  font-size: 40px;
  font-weight: bold; }
  p {
  width: 950px;
  font-size: 20px;
  margin: 45px 0 60px 0; }
 a {
  border: 2px solid $color_white;
  padding: 20px 60px;
  text-decoration: none;
  color: $color_white;
  font-size: 16px;
  transition: border-color 0.3s,background-color 0.3s;}
  a:hover {
  background-color: $color;
  border-color: $color;
  transition: border-color 0.3s,background-color 0.3s; }}

.carousel-indicators {
  text-align: left;
  left: 158px;
  margin: 0 auto 33px auto;
li {
  width: 20px;
  height: 20px;
  border: 2px solid $color_white;
  margin: 1px;
  border-radius: 0;}
.active {
  width: 20px;
  height: 20px;
  margin: 1px;}}
#box_big{
  .col-sm-3{padding: 0;}
  .thumbnail{
    padding: 40px;;
    border: none;
    border-radius: 0;
   background-color: #1b6d85;
    color: $color_white;
    img{width: 72px;height: 68px;margin: 35px auto 15px auto;}
    p{strong{font-size: 16px;font-weight: bold;margin-bottom: 28px;}}}
  .thumbnail:hover{cursor: pointer;}
  .box_under1{background-color: #05b187;}
  .box_under2{background-color: $color;}
  .box_under3{background-color: #0597b1;}
  .box_under4{background-color: #056ab1;}}
#news{
  .col-sm-3{
    .thumbnail{
      padding: 0;
      text-align: left;
      border: 0;
      h4{color: $color;
        font-size: 16px;
        margin: 25px 0 0 0;}
      h2{font-weight: bold;
        margin: 25px 0;
        font-size: 16px;
      }
      p{font-size: 16px;}
    }
  }
  h2{
    margin-top: 38px;
  }
  h4{font-size: 14px;margin-bottom: 35px;
  color: $colot_gray;}
}
#button{
  margin-top: 20px;
  padding: 18px 60px;
  color: $color;
  border: 2px solid $color;
  font-size: 16px;
  font-weight: bold;
  transition: background-color .3s, color 0.3s;
}
#button:hover{
  text-decoration: none;
  background-color: $color;
  color: $color_white;
  transition: background-color .3s, color 0.3s;
}
#Carousel{
  background-color: $color;
  .item{
    .item_carousel{
      width: 1284px;
      margin:0 auto;
    .item_right{
      display: inline-block;
      width: 645px;
      h4{
        text-align: left;
        font-style: italic;
        font-size: 16px;
        font-weight: normal;
        width: 645px;
        display: inline-block;}
      h2{font-size: 26px;
        font-weight: bold;
        width: 645px;
        text-align: left;
        margin: 50px auto 30px auto;
        display: inline-block;}}
      img{
        display: inline-block;
        width: 172px;
        margin-right: 60px;
        position: relative;
        top: -50px;}
    }
  }
  }

#myCarousel_1, #myCarousel_2{
  background-color: $color;
  color: $color_white;
  padding: 38px 0 10px 0;
  h2{margin-bottom: 25px;
  font-size: 26px;
  font-weight: bold;}
  .carousel-control{
    background-color: $color;
    background-image: linear-gradient(to right, $color 0%, $color 100%);
    background-image: linear-gradient(to left, $color 0%, $color 100%);
    top:120px;
    width: 13%;
    text-align: left;
  }
  .border{height:1px;
  margin:0 auto 10px auto;
  width:177px;
  background-color: $color_white;}
.carousel-control{
  span{font-size: 30px;}
}}
#footer{
  background-color: #6b6b6b;
  color: $color_white;
  .container{
    width: 1300px;
    padding: 30px 0;
    .footer_box_1{
      padding:50px 20px 0 0;}
    .footer_box_2{padding:0 0 0 20px;}
    .col-md-3{padding: 0 0 0 30px;
      h3{margin: 16px 0 30px 40px;}}
    .col-md-2{
      h3{font-size: 18px;
      margin-bottom: 18px;}
      p{a{font-size: 18px;
      color: #999999;
      margin-bottom: 18px;
      }
      a:hover{text-decoration: none}}
      .img_under{width: 95%;
        height: 2px;
        background-color: #999999;
      margin: 30px auto;}
    }
    .footer_button{
      text-align: center;
      .fa{color:#6b6b6b;}
      a{background-color: $color_white;
        border-radius: 50%;
      margin-right: 2px;}
      .facebook{padding: 5px 10px;}
      .fa-facebook:before {
        content: "\f09a";
        font-size: 15px;
        position: relative;
        right: 0.5px;
        top: 0.5px; }
      .twitter{padding: 5px 7.5px;}
      .fa-twitter:before {
        content: "\f099";
        font-size:17px;
        position:relative;
        top: 1px;}
      .instagram{padding: 5px 8px;}
      .fa-instagram:before {
        content: "\f16d";
        position: relative;
        top: 1px;
        font-size: 17px;
      }
      .google{padding: 5px 5.5px;}
      a:hover{text-decoration: none;
      background-color: #cbcbcb;}
    }
    .left_icon{
      margin-bottom: 30px;
      span{color: #999999;
       }
      p{
        width: 63%;
        font-size: 16px;
      display: inline-block;}
      .fa-map-marker:before {
        content: "\f041";
        font-size: 30px;
        position: relative;
        margin-right: 20px;
        top: -25px;}
      .fa-phone:before {
        content: "\f095";
        font-size: 28px;
        margin-right: 15px;
        top: -8px;
        position: relative;
      }
      .fa-envelope:before {
        content: "\f0e0";
        font-size: 22px;
        margin-right: 15px;
        position: relative;
        top: 2px;
      }
    }
  }
  #input_footer{h3{margin:16px 0;}
  #name, #email, #comments{border: 2px solid #606060;
    background-color: $colot_gray;color: $color_white;}
  }
}
.form-control {border-radius: 0;}
#myCarousel_2{
  color: black;
  background-color: $color_white;
#Carousel_1{ background-color: $color_white;
  margin: 40px 0;
.col-md-2{
  text-align: center;
    p{font-size: 14px;
      width: 98%;
      color: $colot_gray;
      margin-top: 15px;
      margin-left: 7px;}
a:hover{text-decoration: none;p{color: $color;}}}}
  .carousel-control{
    background-color: $color_white;
    background-image: linear-gradient(to right,$color_white 0%, $color_white 0%);
    background-image: linear-gradient(to left, $color_white 0%, $color_white 100%);
    top: 80px;
    width: 5%;
    text-align: left;
    color: gray;
    .fa-angle-left{left: 65px;}
    .fa-angle-right{right: 65px;}
  }
}



  //footer checkbox
.control_indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: $colot_gray;
  border: 1px solid #6b6b6b;

}
input[type=checkbox] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
input[type=checkbox] {
  padding: 5px;
}
.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 5px;
  padding-top: 3px;
  cursor: pointer;
  font-size: 14px;
}
.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
  background: $colot_gray;
}
.control input:checked ~ .control_indicator{
  color:$colot_gray;
}
.control input:checked ~ .control_indicator {
  background: $colot_gray;
  border: 1px solid $colot_gray;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
  background: $colot_gray;
}
.control input:disabled ~ .control_indicator {
  background: $colot_gray;
  opacity: 0.6;
  pointer-events: none;
}
.control_indicator:after {
  box-sizing: unset;
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control_indicator:after {
  display: block;
}
.control-checkbox .control_indicator:after {
  left: 7px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #a0a0a0;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.control-checkbox{
  margin-top: 15px;
  width: 35%;
  margin-left: 16px;
  span{
    color: #a0a0a0;
    font-size: 18px;
    font-family: OpenSans;
    font-weight: normal;
    position: relative;
    top: -3px;}
}
input::-webkit-input-placeholder{color: $color_white !important;}
textarea::-webkit-input-placeholder{color: $color_white !important;}
#input_footer{.row{
  a{ margin: 10px 0 0 16px;
    padding: 10px 20px 10px 25px;
    color: $color_white;
    background-color: $colot_gray;
    border: 1px solid #999999;
    position: relative;
    top: 10px;
  span{margin-left: 16px}}
  a:hover{text-decoration: none;
    background-color: $color_white;
    color: $colot_gray;
    transition: background-color .3s, color 0.3s;
  }}}




    //responsiv
@media (max-width: 767.99px){
  #myCarousel{
    .carousel-indicators{display: none;}
    margin-top: 70px;
    .carousel-caption {
      display: none;}
  }
    #myCarousel_1{
      .carousel-control{display: none;}
    }
    #Carousel{
      .item{
        .item_carousel{
          .item_right{
            width: 459px;
            position: relative;
            left: -455px;
            h4 {
              width: 188px;
              text-align: left;
              margin: 50px auto 30px auto;
              display: inline-block;
            }
          }
          .img-circle{
            width: 110px;
            position: relative;
            left: -292px;
            top: -70px;
          }
        }
      }
    }

  #footer{
    .col-md-5{width: 25%;}
    .footer_box_1{
      text-align: center;
      width: 25%;}
    .container{.left_icon{p{width: 15%}}}
    .control-checkbox{width: 60%}
  }
}

@media (max-width: 575.99px){
  #myCarousel{
    .carousel-indicators{display: none;}
    margin-top: 70px;
    .carousel-caption {
     display: none;}
  }
  #footer{
    .col-md-5{width: 25%;}
    .footer_box_1{
      text-align: center;
      width: 25%;}
    .container{.left_icon{p{width: 15%}}}
    .control-checkbox{width: 60%}
  }
  #myCarousel_1{
    .carousel-control{display: none;}
  }
  #Carousel{
    .item{
      .item_carousel{
        .item_right{
          width: 459px;
          position: relative;
          left: -455px;
          h4 {
            width: 188px;
            text-align: left;
            margin: 50px auto 30px auto;
            display: inline-block;
          }
        }
        .img-circle{
          width: 110px;
          position: relative;
          left: -292px;
          top: -70px;
        }
      }
    }
  }
}
