body {
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-family: 'Open Sans', sans-serif; }

* a:hover {
  text-decoration: none !important; }

* a:visited {
  text-decoration: none; }

a:focus, a:hover, a:visited {
  text-decoration: none; }

.nav_bar {
  padding: 28px 0 40px; }
  .nav_bar ul {
    -webkit-padding-start: 0;
    list-style: none; }
    .nav_bar ul li {
      display: inline-block; }
      .nav_bar ul li a {
        padding: 0 18px;
        font-size: 15px;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.54); }
      .nav_bar ul li a:hover {
        text-decoration: none; }

*:focus {
  outline: 0 !important; }

.footerow {
  margin-top: -40px;
  margin-bottom: 39px; }

.submitbutton {
  border: 0;
  padding: 8px 30px;
  font-size: 14px;
  letter-spacing: -0.4px;
  color: #ffffff;
  border-radius: 15.5px;
  background-image: -webkit-linear-gradient(343deg, #ff5746, #ff528c);
  background-image: -o-linear-gradient(343deg, #ff5746, #ff528c);
  background-image: linear-gradient(107deg, #ff5746, #ff528c); }

.fikr input.submitbutton {
  margin-top: 15px;
  float: right;
  margin-bottom: 20px; }

.fikr textarea {
  width: 100%;
  border: 1px solid #979797;
  border-radius: 10px;
  padding: 10px; }

.maqola a.maqola_joylash {
  padding: 8px 30px;
  font-size: 14px;
  letter-spacing: -0.4px;
  color: #ffffff;
  border-radius: 18.5px;
  background-image: -webkit-linear-gradient(343deg, #ff5746, #ff528c);
  background-image: -o-linear-gradient(343deg, #ff5746, #ff528c);
  background-image: linear-gradient(107deg, #ff5746, #ff528c);
  -webkit-box-shadow: 0 5px 20px -5px #FF528C;
  box-shadow: 0 5px 20px -5px #FF528C;
  font-weight: bold; }

.maqola a.maqola_joylash:hover {
  text-decoration: none; }

.maqola.fikrbildir {
  text-align: center; }

.wrapper header {
  padding-top: 27px !important; }

.wrapper .container .maqola {
  padding: 26px 15px 17px; }

.wrapper .container .account {
  padding: 15px 15px 0; }

.wrapper .container .col-md-4 a img {
  margin: 0 32px; }

.wrapper .container .col-md-4 .left_border,
.wrapper .container .col-md-4 .right_border {
  position: relative;
  top: 35px;
  width: 80px;
  height: 2px;
  border: solid 1px #d3d3d3; }

.wrapper .container .col-md-4 .left_border {
  float: left; }

.wrapper .container .col-md-4 .right_border {
  float: right; }

.wrapper .container .col-md-4 .left_acount {
  border-radius: 17.5px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 6px 14px -3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 6px 14px -3px rgba(0, 0, 0, 0.2);
  float: right; }
  .wrapper .container .col-md-4 .left_acount img.icon_account {
    padding: 6px; }
  .wrapper .container .col-md-4 .left_acount img {
    border-radius: 25px; }
  .wrapper .container .col-md-4 .left_acount span {
    font-size: 14px;
    color: #343434;
    font-weight: bold;
    font-style: normal;
    letter-spacing: -0.4px;
    padding: 0 17px 0 4px; }

.wrapper .container .col-md-9 .carusell {
  background-image: url("../boostin/images/rectangle-3.jpg");
  -o-object-fit: contain;
  object-fit: contain;
  border-radius: 10px;
  height: 400px; }
  .wrapper .container .col-md-9 .carusell .icon {
    width: 60%;
    z-index: 2;
    position: relative;
    top: 27px;
    left: 27px; }
    .wrapper .container .col-md-9 .carusell .icon img {
      margin-right: 5px; }
  .wrapper .container .col-md-9 .carusell .righttext {
    position: relative;
    float: right;
    top: -31px;
    width: 311px;
    height: 400px;
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left top, right top, from(transparent), to(#000000));
    background-image: -webkit-linear-gradient(left, transparent, #000000);
    background-image: -o-linear-gradient(left, transparent, #000000);
    background-image: linear-gradient(to right, transparent, #000000); }
    .wrapper .container .col-md-9 .carusell .righttext ul {
      -webkit-padding-start: 0;
      list-style: none; }
    .wrapper .container .col-md-9 .carusell .righttext ul li {
      padding: 0 20px 0 30px;
      margin-top: 28px; }
      .wrapper .container .col-md-9 .carusell .righttext ul li a::before {
        content: '';
        width: 5px;
        left: -15px;
        height: 100%;
        opacity: 0.52;
        border-radius: 2.5px;
        background-color: #ffffff;
        position: absolute;
        top: 1px; }
      .wrapper .container .col-md-9 .carusell .righttext ul li a {
        position: relative;
        font-size: 14px;
        color: #ffffff;
        line-height: 1.14; }
  .wrapper .container .col-md-9 .carusell .bottomText {
    position: relative;
    bottom: 0;
    left: 27px;
    width: 50%; }

.wrapper .container .col-md-3 .rigthreklama {
  height: 400px;
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%;
  background-color: #d3d3d3;
  border-radius: 10px; }

.wrapper .container .addreklama {
  height: 138px;
  -o-object-fit: contain;
  object-fit: contain;
  background-color: #d3d3d3;
  border-radius: 10px; }

.wrapper .container .agentliklar,
.wrapper .container .aviatime,
.wrapper .container .bilishfoyd,
.wrapper .container .fikrlar,
.wrapper .container .header,
.wrapper .container .mulohazalar,
.wrapper .container .news,
.wrapper .container .savoljavoblar,
.wrapper .container .sayohatlar,
.wrapper .container .sayohattext,
.wrapper .container .sayohuchunhead,
.wrapper .container .saytkirish,
.wrapper .container .scrollhead,
.wrapper .container .selfiehead,
.wrapper .container .tailhaqida {
  border-bottom: 1px solid #c4c4c4;
  padding: 50px 0 0; }
  .wrapper .container .agentliklar span,
  .wrapper .container .aviatime span,
  .wrapper .container .bilishfoyd span,
  .wrapper .container .fikrlar span,
  .wrapper .container .header span,
  .wrapper .container .mulohazalar span,
  .wrapper .container .news span,
  .wrapper .container .savoljavoblar span,
  .wrapper .container .sayohatlar span,
  .wrapper .container .sayohattext span,
  .wrapper .container .sayohuchunhead span,
  .wrapper .container .saytkirish span,
  .wrapper .container .scrollhead span,
  .wrapper .container .selfiehead span,
  .wrapper .container .tailhaqida span {
    font-size: 22px;
    font-weight: bold;
    color: #000000;
    position: relative;
    top: -9px;
    border-bottom: 1px solid black;
    padding: 10px 0; }
  .wrapper .container .agentliklar a,
  .wrapper .container .agentliklar a.barmaqol,
  .wrapper .container .aviatime a,
  .wrapper .container .aviatime a.barmaqol,
  .wrapper .container .bilishfoyd a,
  .wrapper .container .bilishfoyd a.barmaqol,
  .wrapper .container .fikrlar a,
  .wrapper .container .fikrlar a.barmaqol,
  .wrapper .container .header a,
  .wrapper .container .header a.barmaqol,
  .wrapper .container .mulohazalar a,
  .wrapper .container .mulohazalar a.barmaqol,
  .wrapper .container .news a,
  .wrapper .container .news a.barmaqol,
  .wrapper .container .savoljavoblar a,
  .wrapper .container .savoljavoblar a.barmaqol,
  .wrapper .container .sayohatlar a,
  .wrapper .container .sayohatlar a.barmaqol,
  .wrapper .container .sayohattext a,
  .wrapper .container .sayohattext a.barmaqol,
  .wrapper .container .sayohuchunhead a,
  .wrapper .container .sayohuchunhead a.barmaqol,
  .wrapper .container .saytkirish a,
  .wrapper .container .saytkirish a.barmaqol,
  .wrapper .container .scrollhead a,
  .wrapper .container .scrollhead a.barmaqol,
  .wrapper .container .selfiehead a,
  .wrapper .container .selfiehead a.barmaqol,
  .wrapper .container .tailhaqida a,
  .wrapper .container .tailhaqida a.barmaqol {
    float: right;
    color: rgba(0, 0, 0, 0.54);
    font-size: 15px;
    font-weight: normal; }

.wrapper .container .aviatime,
.wrapper .container .selfiehead {
  padding-top: 6px; }

.wrapper .container .leftcard {
  margin: 35px 0 25px; }
  .wrapper .container .leftcard .card {
    display: inline-block;
    width: 69%; }
    .wrapper .container .leftcard .card h3 {
      margin-top: 0; }
  .wrapper .container .leftcard img {
    float: right; }
  .wrapper .container .leftcard .card ul {
    list-style: none;
    -webkit-padding-start: 0; }
    .wrapper .container .leftcard .card ul .turizmi {
      margin-bottom: 13px; }
      .wrapper .container .leftcard .card ul .turizmi a {
        font-size: 24px;
        font-weight: bold;
        line-height: 1.17;
        color: #000000; }
    .wrapper .container .leftcard .card ul .ilgari {
      font-size: 16px;
      color: rgba(0, 0, 0, 0.54);
      line-height: 1.25;
      margin-bottom: 21px; }
    .wrapper .container .leftcard .card ul .sevdays {
      margin-bottom: 4px; }
      .wrapper .container .leftcard .card ul .sevdays a {
        font-size: 15px;
        line-height: 1.33;
        color: #000000; }
    .wrapper .container .leftcard .card ul .sana a {
      color: rgba(0, 0, 0, 0.54);
      line-height: 1.33;
      font-size: 15px; }
    .wrapper .container .leftcard .card ul .sana ul {
      -webkit-padding-start: 26px;
      list-style: disc;
      display: inline-block; }

.wrapper .container .savoljavoblar {
  margin-bottom: 32.5px; }

.wrapper .container .cardcardsavoljavob .card ul {
  list-style: none;
  -webkit-padding-start: 0; }
  .wrapper .container .cardcardsavoljavob .card ul li {
    margin-bottom: 11px; }
    .wrapper .container .cardcardsavoljavob .card ul li a {
      color: #000000;
      font-size: 18px;
      font-weight: bold;
      line-height: 1.11; }
    .wrapper .container .cardcardsavoljavob .card ul li ul {
      list-style: disc;
      display: inline-block;
      -webkit-padding-start: 24px; }
      .wrapper .container .cardcardsavoljavob .card ul li ul li {
        color: rgba(0, 0, 0, 0.54);
        line-height: 1.33;
        font-size: 15px; }
  .wrapper .container .cardcardsavoljavob .card ul li.numebanswers a {
    font-size: 15px;
    line-height: 1.33;
    color: rgba(0, 0, 0, 0.89);
    font-weight: normal; }

.wrapper .container .panel {
  margin-top: 54px; }
  .wrapper .container .panel .panelheader {
    border-radius: 10px 10px 0 0;
    background-color: #ff5746;
    line-height: 1.11;
    color: #ffffff;
    padding: 14px 35px 13px 21px;
    font-size: 18px;
    display: block; }
  .wrapper .container .panel form {
    border: solid 1px #e7e7e7;
    border-radius: 0 0 10px 10px;
    display: block;
    padding: 27px 36px 21px;
    text-align: center; }
    .wrapper .container .panel form label {
      text-align: left;
      margin-bottom: 12px;
      font-size: 14px;
      line-height: 1.43;
      color: rgba(0, 0, 0, 0.89);
      font-weight: normal;
      display: block; }
      .wrapper .container .panel form label input {
        margin-right: 14px;
        position: relative;
        top: 2px; }
    .wrapper .container .panel form label:hover {
      cursor: pointer; }
    .wrapper .container .panel form a.ovozberish {
      border-radius: 15.5px;
      background-image: -webkit-linear-gradient(343deg, #ff5746, #ff528c);
      background-image: -o-linear-gradient(343deg, #ff5746, #ff528c);
      background-image: linear-gradient(107deg, #ff5746, #ff528c);
      font-size: 14px;
      letter-spacing: -0.4px;
      color: #ffffff;
      padding: 7px 30px;
      margin: 18px auto 20px;
      -webkit-box-shadow: 0 6px 14px -3px rgba(0, 0, 0, 0.2);
      box-shadow: 0 6px 14px -3px rgba(0, 0, 0, 0.2); }
    .wrapper .container .panel form p {
      margin-top: 20px;
      font-size: 14px;
      color: #606060; }

.wrapper .container .bilishfoyd {
  margin-bottom: 21.5px; }

.wrapper .container .rigthcard {
  padding-top: 32px; }
  .wrapper .container .rigthcard .card {
    margin-bottom: 30px; }
    .wrapper .container .rigthcard .card ul {
      list-style: none;
      -webkit-padding-start: 0; }
      .wrapper .container .rigthcard .card ul li.sevdays a {
        line-height: 1.33;
        color: rgba(0, 0, 0, 0.89);
        font-size: 15px; }
      .wrapper .container .rigthcard .card ul li.sevdays ul.underlist {
        display: inline-block;
        list-style: disc;
        -webkit-padding-start: 26px;
        color: rgba(0, 0, 0, 0.54); }
      .wrapper .container .rigthcard .card ul li.fikrlenta {
        margin-bottom: 11px; }
        .wrapper .container .rigthcard .card ul li.fikrlenta a {
          font-size: 18px;
          font-weight: bold;
          line-height: 1.11;
          color: #000000; }

.wrapper .container .sayohuchunhead span {
  top: -9px; }

.wrapper .container .sayohuchunbody {
  margin-top: 25px; }
  .wrapper .container .sayohuchunbody .fortravel img {
    position: relative; }
  .wrapper .container .sayohuchunbody .fortravel span {
    left: 17px;
    width: 55px;
    height: 19px;
    font-size: 16px;
    color: #ffffff;
    position: relative;
    top: -30px; }

.wrapper .container .usefulltonow {
  overflow: auto; }
  .wrapper .container .usefulltonow a.card {
    border-radius: 9px;
    display: inline-block;
    -webkit-box-shadow: 0 5px 10px -4px rgba(0, 0, 0, 0.25);
    box-shadow: 0 5px 10px -4px rgba(0, 0, 0, 0.25);
    margin-bottom: 10px; }
    .wrapper .container .usefulltonow a.card img {
      border-radius: 9px 9px 0 0;
      width: 100%; }
    .wrapper .container .usefulltonow a.card .usefull {
      -webkit-box-shadow: 0 5px 10px -4px rgba(0, 0, 0, 0.25);
      box-shadow: 0 5px 10px -4px rgba(0, 0, 0, 0.25);
      padding: 23px 30px;
      font-size: 18px;
      font-weight: bold;
      line-height: 1.33;
      color: #000000;
      border-radius: 0 0 9px 9px;
      border: 1px solid rgba(168, 166, 166, 0.25); }

.wrapper .container .yanamaqolachiqar {
  text-align: center; }
  .wrapper .container .yanamaqolachiqar .yanamaqol {
    margin: 0 auto;
    color: white;
    padding: 14px 80px;
    background-image: -webkit-linear-gradient(345deg, #ff5746, #ff528c);
    background-image: -o-linear-gradient(345deg, #ff5746, #ff528c);
    background-image: linear-gradient(105deg, #ff5746, #ff528c);
    position: relative;
    top: 12px;
    border-radius: 30.5px;
    margin-top: 21px;
    display: inline-block;
    z-index: 9; }

.wrapper footer {
  margin-top: 0; }
  .wrapper footer .container-fluid {
    padding: 0;
    min-height: 291px;
    background-image: -webkit-linear-gradient(340deg, #ff5746, #ff528c);
    background-image: -o-linear-gradient(340deg, #ff5746, #ff528c);
    background-image: linear-gradient(110deg, #ff5746, #ff528c);
    overflow: hidden; }
    .wrapper footer .container-fluid .footertop {
      margin-top: -463px;
      text-align: center;
      background-color: white;
      z-index: 2;
      position: relative;
      left: -10%;
      width: 120%;
      height: 600px;
      border-radius: 0 0 50% 50%; }
    .wrapper footer .container-fluid .container ul {
      -webkit-padding-start: 0; }
    .wrapper footer .container-fluid ul.leftsaytmat {
      list-style: none;
      font-size: 15px;
      color: #ffffff; }
      .wrapper footer .container-fluid ul.leftsaytmat li {
        padding-bottom: 17px; }
    .wrapper footer .container-fluid ul.saytreklama li {
      color: #ffffff; }
      .wrapper footer .container-fluid ul.saytreklama li a {
        line-height: 2.13;
        color: #ffffff;
        font-size: 15px; }
      .wrapper footer .container-fluid ul.saytreklama li a:hover {
        text-decoration: none; }
    .wrapper footer .container-fluid ul.instambatfoter {
      margin-top: 7px;
      float: right;
      list-style: none; }
      .wrapper footer .container-fluid ul.instambatfoter li {
        margin: 0; }
        .wrapper footer .container-fluid ul.instambatfoter li a {
          display: inline-block;
          width: 60px;
          height: 60px;
          margin: -2px; }
          .wrapper footer .container-fluid ul.instambatfoter li a img {
            margin: 0; }
  .wrapper footer .copywrite {
    padding: 17px 0 8px;
    margin: 0 auto; }
    .wrapper footer .copywrite p {
      font-size: 13px;
      color: #4b4b4b; }
      .wrapper footer .copywrite p a {
        font-size: 14px;
        color: #959595; }
    .wrapper footer .copywrite p.boost {
      color: #4b4b4b;
      font-size: 14px; }
      .wrapper footer .copywrite p.boost a {
        color: #838383; }

.wrapper .bodypost .imgbody {
  width: 100%;
  top: 0;
  position: absolute;
  overflow: hidden; }
  .wrapper .bodypost .imgbody .nocomment {
    position: absolute;
    bottom: 113px;
    left: 105px;
    color: #fff; }
  .wrapper .bodypost .imgbody .comments {
    overflow-y: scroll;
    height: 100%;
    margin: 0 64px 0 88px; }
    .wrapper .bodypost .imgbody .comments::-webkit-scrollbar {
      display: none; }
    .wrapper .bodypost .imgbody .comments::-moz-scrollbars {
      display: none; }
    .wrapper .bodypost .imgbody .comments .padding {
      height: 76px; }
    .wrapper .bodypost .imgbody .comments .comment {
      background-color: rgba(255, 255, 255, 0.9);
      margin: 10px 0;
      position: relative;
      border-radius: 5px;
      overflow: hidden; }
      .wrapper .bodypost .imgbody .comments .comment .cavatar {
        height: 100%;
        width: 76px;
        position: absolute;
        background-size: cover !important;
        background-position: center !important; }
      .wrapper .bodypost .imgbody .comments .comment .cmt {
        padding: 8px 8px 8px 87px;
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #000000; }
      .wrapper .bodypost .imgbody .comments .comment .authorname {
        padding-top: 8px;
        padding-left: 87px;
        font-size: 13px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.3px;
        text-align: left;
        color: #6d6d6d; }
      .wrapper .bodypost .imgbody .comments .comment .date {
        position: absolute;
        right: 8px;
        top: 8px;
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.3px;
        text-align: left;
        color: #bababa; }
  .wrapper .bodypost .imgbody .submitcomment {
    position: absolute;
    bottom: 24px;
    left: 88px; }
    .wrapper .bodypost .imgbody .submitcomment input {
      padding: 10px 60px 10px 20px;
      border-radius: 28.5px;
      background: rgba(0, 0, 0, 0.4);
      border: 0;
      outline: 0;
      color: #fff; }
      .wrapper .bodypost .imgbody .submitcomment input::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.3px;
        text-align: justify;
        color: rgba(255, 255, 255, 0.6); }
      .wrapper .bodypost .imgbody .submitcomment input::-moz-placeholder {
        /* Firefox 19+ */
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.3px;
        text-align: justify;
        color: rgba(255, 255, 255, 0.6); }
      .wrapper .bodypost .imgbody .submitcomment input:-ms-input-placeholder {
        /* IE 10+ */
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.3px;
        text-align: justify;
        color: rgba(255, 255, 255, 0.6); }
      .wrapper .bodypost .imgbody .submitcomment input:-moz-placeholder {
        /* Firefox 18- */
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.3px;
        text-align: justify;
        color: rgba(255, 255, 255, 0.6); }
    .wrapper .bodypost .imgbody .submitcomment button {
      position: absolute;
      right: 0;
      top: 0;
      background: none;
      border: 0;
      padding: 10px 20px;
      border-radius: 0 28px 28px 0; }
  .wrapper .bodypost .imgbody .chapbar {
    position: absolute;
    bottom: 24px;
    left: 24px; }
    .wrapper .bodypost .imgbody .chapbar .combutton {
      margin-bottom: 20px; }
      .wrapper .bodypost .imgbody .chapbar .combutton.opened a img {
        margin-left: -6px; }
      .wrapper .bodypost .imgbody .chapbar .combutton a {
        display: block;
        text-align: center; }
        .wrapper .bodypost .imgbody .chapbar .combutton a:hover {
          opacity: 0.7; }
        .wrapper .bodypost .imgbody .chapbar .combutton a:active {
          opacity: 1; }
    .wrapper .bodypost .imgbody .chapbar .likephoto {
      text-align: center; }
      .wrapper .bodypost .imgbody .chapbar .likephoto span.count {
        display: block;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.3px;
        color: rgba(255, 255, 255, 0.84);
        margin-bottom: 6px; }
      .wrapper .bodypost .imgbody .chapbar .likephoto a {
        display: block; }
        .wrapper .bodypost .imgbody .chapbar .likephoto a:hover img {
          -webkit-transform: scale(1.1, 1.1);
          -ms-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
          -webkit-transition: ease-in 0.1s;
          -o-transition: ease-in 0.1s;
          transition: ease-in 0.1s; }
        .wrapper .bodypost .imgbody .chapbar .likephoto a:active img {
          -webkit-transform: scale(1.38, 1.38);
          -ms-transform: scale(1.38, 1.38);
          transform: scale(1.38, 1.38);
          -webkit-transition: ease-in 0.05s;
          -o-transition: ease-in 0.05s;
          transition: ease-in 0.05s; }

.wrapper .bodypost .user {
  list-style: none;
  -webkit-padding-start: 0; }
  .wrapper .bodypost .user li {
    display: inline-block; }
  .wrapper .bodypost .user li.usercicrle {
    padding: 3px;
    border-radius: 50%;
    border: 1px solid #000000;
    width: 64px;
    height: 64px;
    position: relative;
    top: -20px; }
    .wrapper .bodypost .user li.usercicrle a {
      background-color: white;
      z-index: 2;
      top: 17px;
      position: relative;
      padding: 7px 70px;
      left: -7px; }
    .wrapper .bodypost .user li.usercicrle img {
      position: relative;
      top: -20px;
      z-index: 3; }
  .wrapper .bodypost .user li.usercicrle:hover {
    cursor: pointer; }
  .wrapper .bodypost .user li.usermalumot {
    position: relative;
    top: -20px;
    font-size: 15px;
    color: rgba(102, 102, 102, 0.89);
    line-height: 1.33;
    margin-left: 20px; }
    .wrapper .bodypost .user li.usermalumot a {
      color: rgba(0, 0, 0, 0.89); }

.wrapper .bodypost .turizmnirivoj h1 {
  font-size: 42px;
  font-weight: bold;
  line-height: 1.24;
  letter-spacing: -1px;
  text-align: left;
  color: #000000; }

.wrapper .bodypost .textturizm p,
.wrapper .bodypost .turizmnirivoj p {
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -0.3px;
  color: rgba(0, 0, 0, 0.84);
  padding-bottom: 38px;
  padding-top: 12px; }

.wrapper .bodypost .textturizm p {
  padding-top: 31px;
  padding-bottom: 0; }

.wrapper .bodypost .turistfikri {
  margin-bottom: 21.5px;
  border-bottom: 1px solid #c4c4c4;
  padding: 50px 0 0; }
  .wrapper .bodypost .turistfikri span {
    font-size: 22px;
    font-weight: bold;
    color: #000000;
    position: relative;
    top: -9px;
    border-bottom: 1px solid black;
    padding: 12px 0; }

.wrapper .bodypost .addreklama {
  margin-top: 41px; }

.wrapper .bodysayohatlar .qidiruv {
  -o-object-fit: contain;
  object-fit: contain;
  background-image: url("../boostin/images/rectangle-13.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 291px; }
  .wrapper .bodysayohatlar .qidiruv .endyahwi {
    text-align: center;
    margin-bottom: 44px;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.17;
    color: #ffffff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); }
  .wrapper .bodysayohatlar .qidiruv .inputgroup label {
    display: block;
    font-size: 16px;
    color: #ffffff; }
  .wrapper .bodysayohatlar .qidiruv .inputgroup input {
    background-color: #ececec;
    border: none;
    color: #454545;
    font-size: 16px;
    margin-bottom: 19px;
    width: 100%;
    padding: 11.5px 0 11.5px 18px; }

.wrapper .bodysayohatlar .izlash,
.wrapper .bodysayohatlar .mehmonhonatanlash {
  -o-object-fit: contain;
  object-fit: contain;
  background-image: url("../boostin/images/aviabilet/rectangle-13.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 291px; }
  .wrapper .bodysayohatlar .izlash .endyahwi,
  .wrapper .bodysayohatlar .mehmonhonatanlash .endyahwi {
    text-align: center;
    margin-bottom: 44px;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.17;
    color: #ffffff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); }
  .wrapper .bodysayohatlar .izlash .inputgroup label,
  .wrapper .bodysayohatlar .mehmonhonatanlash .inputgroup label {
    display: block;
    font-size: 16px;
    color: #ffffff; }
  .wrapper .bodysayohatlar .izlash .inputgroup input,
  .wrapper .bodysayohatlar .mehmonhonatanlash .inputgroup input {
    background-color: #ececec;
    border: none;
    color: #454545;
    font-size: 16px;
    margin-bottom: 19px;
    width: 100%;
    padding: 11.5px 0 11.5px 18px; }

.wrapper .bodysayohatlar .mehmonhonatanlash {
  background-image: url("../boostin/images/country/rectangle-13.png"); }
  .wrapper .bodysayohatlar .mehmonhonatanlash .endyahwi {
    margin-top: 30px;
    margin-bottom: 26px; }

.wrapper .bodysayohatlar .sayohatbutton {
  display: block;
  width: 100%;
  height: 47px;
  text-align: center;
  padding: 14px 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fad961), to(#f76b1c));
  background-image: -webkit-linear-gradient(top, #fad961, #f76b1c);
  background-image: -o-linear-gradient(top, #fad961, #f76b1c);
  background-image: linear-gradient(to bottom, #fad961, #f76b1c);
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  margin-top: 26px; }

.wrapper .bodysayohatlar .card ul li {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(0, 0, 0, 0.54); }

.wrapper .bodysayohatlar .card ul li.companyname {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.17;
  margin-bottom: 5px; }
  .wrapper .bodysayohatlar .card ul li.companyname a {
    color: #000000; }

.wrapper .bodysayohatlar .card ul li.mchj {
  margin-bottom: 17px; }

.wrapper .bodysayohatlar .card ul li.telefon {
  margin: 6px 0 3px;
  font-size: 15px;
  line-height: 1.33;
  color: rgba(0, 0, 0, 0.89); }
  .wrapper .bodysayohatlar .card ul li.telefon a {
    color: rgba(0, 0, 0, 0.89); }

.wrapper .bodysayohatlar .card ul li.sana {
  font-size: 15px;
  line-height: 1.33; }
  .wrapper .bodysayohatlar .card ul li.sana a {
    color: rgba(1, 24, 103, 0.54) !important; }

.wrapper .bodysayohatlar .paginationbar {
  text-align: center; }
  .wrapper .bodysayohatlar .paginationbar ul {
    border-bottom: 1px solid #c4c4c4;
    display: inline-block;
    list-style: none;
    -webkit-padding-start: 0;
    margin-bottom: 54px; }
    .wrapper .bodysayohatlar .paginationbar ul li {
      display: inline-block; }
      .wrapper .bodysayohatlar .paginationbar ul li a {
        padding: 0 8px;
        font-size: 22px;
        color: #000000; }
    .wrapper .bodysayohatlar .paginationbar ul li.active {
      border-bottom: 1px solid #000000;
      position: relative;
      top: 1px; }
  .wrapper .bodysayohatlar .paginationbar ul:hover {
    cursor: pointer; }

.wrapper .bodysayohatlar .mehmonhonalar {
  margin-top: 39.5px; }
  .wrapper .bodysayohatlar .mehmonhonalar .cardmehmonhona img.cardimg {
    width: 100%; }
  .wrapper .bodysayohatlar .mehmonhonalar a.cardtext ul {
    padding: 0 9.5px;
    position: relative;
    top: -27px;
    margin-bottom: -26px;
    list-style: none;
    -webkit-padding-start: 9.5px; }
    .wrapper .bodysayohatlar .mehmonhonalar a.cardtext ul li {
      display: inline-block; }
      .wrapper .bodysayohatlar .mehmonhonalar a.cardtext ul li img {
        height: 15px;
        width: 15px; }
    .wrapper .bodysayohatlar .mehmonhonalar a.cardtext ul li.pull-right {
      margin-left: 5px; }
  .wrapper .bodysayohatlar .mehmonhonalar img {
    border-radius: 10px; }
  .wrapper .bodysayohatlar .mehmonhonalar ul.cardlist {
    -webkit-padding-start: 0;
    list-style: none; }
    .wrapper .bodysayohatlar .mehmonhonalar ul.cardlist li {
      font-weight: bold;
      color: #000000; }
    .wrapper .bodysayohatlar .mehmonhonalar ul.cardlist li.summa {
      margin-top: 19px;
      font-size: 24px;
      color: #000000; }
    .wrapper .bodysayohatlar .mehmonhonalar ul.cardlist li.hotelname {
      font-size: 18px;
      margin-bottom: 17px; }
    .wrapper .bodysayohatlar .mehmonhonalar ul.cardlist li.hotelcountry {
      font-size: 18px;
      font-weight: normal;
      color: #979797; }

.wrapper .scroll .scrollmenu {
  overflow: auto;
  white-space: nowrap; }

.wrapper .scroll .scrollmenu {
  padding-top: 28px;
  padding-bottom: 51px; }
  .wrapper .scroll .scrollmenu a {
    display: inline-block;
    text-align: center;
    margin-right: 41px;
    text-decoration: none;
    width: 167px;
    height: 203px; }

.wrapper .scroll .mamlakat {
  text-align: center;
  border-bottom: 1px solid #c4c4c4;
  padding: 50px 0 0; }
  .wrapper .scroll .mamlakat span {
    font-size: 22px;
    font-weight: bold;
    color: #000000;
    position: relative;
    top: -9px;
    border-bottom: 1px solid black;
    padding: 12px 0; }

.wrapper .tourgency .selfiebody {
  padding-top: 42.5px; }
  .wrapper .tourgency .selfiebody ul {
    list-style: none;
    -webkit-padding-start: 0; }
    .wrapper .tourgency .selfiebody ul li.selfielogo {
      width: 100%;
      padding: 124px 0;
      text-align: center;
      margin-bottom: 35px;
      border-radius: 30px;
      -webkit-box-shadow: 0 4px 19px -9px rgba(0, 0, 0, 0.5);
      box-shadow: 0 4px 19px -9px rgba(0, 0, 0, 0.5); }
    .wrapper .tourgency .selfiebody ul li {
      padding-left: 15px;
      margin-bottom: 20px;
      font-size: 15px; }
    .wrapper .tourgency .selfiebody ul li.email,
    .wrapper .tourgency .selfiebody ul li.sayt,
    .wrapper .tourgency .selfiebody ul li.telfon {
      font-weight: bold;
      font-size: 15px;
      line-height: 1.4;
      color: #000000; }
      .wrapper .tourgency .selfiebody ul li.email a,
      .wrapper .tourgency .selfiebody ul li.sayt a,
      .wrapper .tourgency .selfiebody ul li.telfon a {
        color: #000000;
        font-weight: normal; }
    .wrapper .tourgency .selfiebody ul li.lacation img {
      margin: 0; }
    .wrapper .tourgency .selfiebody ul li.sayt {
      margin-bottom: 35px; }
    .wrapper .tourgency .selfiebody ul li.lacation {
      padding-left: 0; }
  .wrapper .tourgency .selfiebody .bigimg img {
    width: 100%; }
  .wrapper .tourgency .selfiebody .bigimg ul {
    list-style: none;
    -webkit-padding-start: 0; }
    .wrapper .tourgency .selfiebody .bigimg ul li {
      margin-top: 31px;
      margin-right: 55.79687px;
      padding-left: 0;
      display: inline-block; }
      .wrapper .tourgency .selfiebody .bigimg ul li img {
        width: 142px;
        height: 82px; }
    .wrapper .tourgency .selfiebody .bigimg ul li.ohirgiimg {
      margin-right: 0; }
  .wrapper .tourgency .selfiebody .mijozlarfikri {
    padding-top: 23.5px;
    padding-bottom: 20.5px; }
    .wrapper .tourgency .selfiebody .mijozlarfikri .mijozlarcard {
      display: inline-block;
      margin-right: 35px;
      width: 47.4%; }
      .wrapper .tourgency .selfiebody .mijozlarfikri .mijozlarcard .media-body h4.media-heading {
        font-size: 19px;
        font-weight: 600;
        line-height: 1.05;
        color: rgba(0, 0, 0, 0.89); }
        .wrapper .tourgency .selfiebody .mijozlarfikri .mijozlarcard .media-body h4.media-heading span {
          font-size: 14px;
          line-height: 1.43;
          color: rgba(117, 117, 117, 0.89); }
      .wrapper .tourgency .selfiebody .mijozlarfikri .mijozlarcard .media-body p {
        font-size: 15px;
        line-height: 1.33;
        color: rgba(0, 0, 0, 0.89); }
      .wrapper .tourgency .selfiebody .mijozlarfikri .mijozlarcard .media-left {
        padding-right: 15px; }
    .wrapper .tourgency .selfiebody .mijozlarfikri .mijozlarcard.right {
      margin-right: 0; }
  .wrapper .tourgency .selfiebody ul.hotel .selfielogo {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: solid 5px #ececec;
    padding: 100px 0; }
    .wrapper .tourgency .selfiebody ul.hotel .selfielogo h1 {
      margin: 24px 0 0;
      -o-object-fit: contain;
      object-fit: contain;
      color: #979797; }

.wrapper .tourgency .bigimg ul.hotelimg li {
  margin-right: 47.7px; }
  .wrapper .tourgency .bigimg ul.hotelimg li a img {
    width: 82px;
    height: 82px; }

.wrapper .tourgency .aviatime span {
  top: -9px; }

.wrapper .bodycountry .imgcountry {
  background-image: url("../boostin/images/country/rectangle-15.png");
  -o-object-fit: contain;
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: cover;
  height: 545px; }
  .wrapper .bodycountry .imgcountry h1 {
    position: relative;
    bottom: 0;
    left: 0; }

.wrapper .bodycountry .container .tailhaqida {
  padding: 40px 0 0;
  margin-bottom: 30.5px; }

.wrapper .bodycountry .container .rigthtext {
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -0.3px;
  text-align: justify;
  color: rgba(0, 0, 0, 0.84); }
  .wrapper .bodycountry .container .rigthtext p {
    margin-bottom: 30px; }

.wrapper .bodycountry ul.leftlist {
  list-style: none;
  -webkit-padding-start: 0; }
  .wrapper .bodycountry ul.leftlist li {
    margin-bottom: 23px;
    font-size: 15px;
    line-height: 1.4;
    color: #000000; }
    .wrapper .bodycountry ul.leftlist li a {
      color: #5d98ff; }

.wrapper .bodycountry .sayohattext {
  padding: 0; }

.wrapper .bodycountry .sayohatbody {
  overflow: auto;
  padding-top: 96px; }
  .wrapper .bodycountry .sayohatbody a.sayohatcard {
    -o-object-fit: contain;
    object-fit: contain;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    height: 151px;
    text-align: center;
    color: #ffffff;
    padding: 31px 38px 0;
    margin: 27.5px 0 1.5px; }
    .wrapper .bodycountry .sayohatbody a.sayohatcard h4 {
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
      font-size: 25px;
      margin: 0 0 17px; }
    .wrapper .bodycountry .sayohatbody a.sayohatcard span {
      font-size: 16px;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); }

.wrapper .body .rentcardlist .avtoijara .leftcard .card ul li.companyname,
.wrapper .cabinetauth .rentcardlist .avtoijara .leftcard .card ul li.companyname,
.wrapper .cabinetregistr .rentcardlist .avtoijara .leftcard .card ul li.companyname {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.17;
  margin-bottom: 5px; }
  .wrapper .body .rentcardlist .avtoijara .leftcard .card ul li.companyname a,
  .wrapper .cabinetauth .rentcardlist .avtoijara .leftcard .card ul li.companyname a,
  .wrapper .cabinetregistr .rentcardlist .avtoijara .leftcard .card ul li.companyname a {
    color: #000000; }

.wrapper .body .rentcardlist .avtoijara .leftcard .card ul li.mchj,
.wrapper .cabinetauth .rentcardlist .avtoijara .leftcard .card ul li.mchj,
.wrapper .cabinetregistr .rentcardlist .avtoijara .leftcard .card ul li.mchj {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(0, 0, 0, 0.54);
  margin-bottom: 17px; }

.wrapper .body .rentcardlist .avtoijara .leftcard .card ul li.manzil,
.wrapper .cabinetauth .rentcardlist .avtoijara .leftcard .card ul li.manzil,
.wrapper .cabinetregistr .rentcardlist .avtoijara .leftcard .card ul li.manzil {
  margin-bottom: 6px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(0, 0, 0, 0.54); }

.wrapper .body .rentcardlist .avtoijara .leftcard .card ul li.telefon,
.wrapper .cabinetauth .rentcardlist .avtoijara .leftcard .card ul li.telefon,
.wrapper .cabinetregistr .rentcardlist .avtoijara .leftcard .card ul li.telefon {
  font-size: 15px;
  line-height: 1.33;
  color: rgba(0, 0, 0, 0.89); }
  .wrapper .body .rentcardlist .avtoijara .leftcard .card ul li.telefon a,
  .wrapper .cabinetauth .rentcardlist .avtoijara .leftcard .card ul li.telefon a,
  .wrapper .cabinetregistr .rentcardlist .avtoijara .leftcard .card ul li.telefon a {
    color: rgba(0, 0, 0, 0.89); }

.wrapper .body .rentcardlist .avtoijara .leftcard .card ul li.sana,
.wrapper .cabinetauth .rentcardlist .avtoijara .leftcard .card ul li.sana,
.wrapper .cabinetregistr .rentcardlist .avtoijara .leftcard .card ul li.sana {
  font-size: 15px;
  line-height: 1.33;
  color: rgba(1, 24, 103, 0.54); }
  .wrapper .body .rentcardlist .avtoijara .leftcard .card ul li.sana a,
  .wrapper .cabinetauth .rentcardlist .avtoijara .leftcard .card ul li.sana a,
  .wrapper .cabinetregistr .rentcardlist .avtoijara .leftcard .card ul li.sana a {
    color: rgba(1, 24, 103, 0.54); }

.wrapper .body .rentcardlist .tavsiyaqilamiz,
.wrapper .cabinetauth .rentcardlist .tavsiyaqilamiz,
.wrapper .cabinetregistr .rentcardlist .tavsiyaqilamiz {
  padding: 93px 0 58px; }
  .wrapper .body .rentcardlist .tavsiyaqilamiz .leftcard .card li.companyname,
  .wrapper .cabinetauth .rentcardlist .tavsiyaqilamiz .leftcard .card li.companyname,
  .wrapper .cabinetregistr .rentcardlist .tavsiyaqilamiz .leftcard .card li.companyname {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 14px;
    line-height: 1.17; }
    .wrapper .body .rentcardlist .tavsiyaqilamiz .leftcard .card li.companyname a,
    .wrapper .cabinetauth .rentcardlist .tavsiyaqilamiz .leftcard .card li.companyname a,
    .wrapper .cabinetregistr .rentcardlist .tavsiyaqilamiz .leftcard .card li.companyname a {
      color: #000000; }
  .wrapper .body .rentcardlist .tavsiyaqilamiz .leftcard .card li.tavsiyaqilamiz p,
  .wrapper .cabinetauth .rentcardlist .tavsiyaqilamiz .leftcard .card li.tavsiyaqilamiz p,
  .wrapper .cabinetregistr .rentcardlist .tavsiyaqilamiz .leftcard .card li.tavsiyaqilamiz p {
    font-size: 16px;
    line-height: 1.38;
    color: rgba(0, 0, 0, 0.54); }

.wrapper .bodygidlar .header {
  padding-top: 13px; }

.wrapper .bodygidlar .gidlarbox {
  margin-bottom: 90px;
  margin-top: 41px;
  border: solid 1px #f2f2f2;
  border-radius: 5px; }
  .wrapper .bodygidlar .gidlarbox .boxheader {
    text-align: center; }
    .wrapper .bodygidlar .gidlarbox .boxheader img {
      width: 100%;
      height: 90px;
      border-radius: 10px 10px 0 0; }
    .wrapper .bodygidlar .gidlarbox .boxheader .imgbefore {
      position: relative;
      top: -55px;
      width: 119px;
      height: 60px;
      margin: 0 auto;
      border-radius: 50%; }
      .wrapper .bodygidlar .gidlarbox .boxheader .imgbefore img {
        width: 104px;
        height: 104px; }
    .wrapper .bodygidlar .gidlarbox .boxheader p {
      font-size: 22px;
      font-weight: bold;
      color: #000000;
      margin-bottom: 9px; }
    .wrapper .bodygidlar .gidlarbox .boxheader span {
      font-size: 15px;
      color: #999999; }
  .wrapper .bodygidlar .gidlarbox .gidlinks {
    margin-top: 41px;
    border-top: solid 1px #f2f2f2; }
    .wrapper .bodygidlar .gidlarbox .gidlinks a {
      padding: 12px 0 7px;
      width: 49.26%;
      text-align: center;
      display: inline-block; }
      .wrapper .bodygidlar .gidlarbox .gidlinks a ul {
        list-style: none;
        -webkit-padding-start: 0; }
        .wrapper .bodygidlar .gidlarbox .gidlinks a ul li {
          font-size: 14px;
          margin-bottom: 5px;
          color: #898989; }
    .wrapper .bodygidlar .gidlarbox .gidlinks a.gidlist {
      border-right: 1px solid #f2f2f2; }

.wrapper .bodygidlar .table {
  padding-top: 32px;
  padding-bottom: 61px;
  overflow: auto; }
  .wrapper .bodygidlar .table ul {
    list-style: none;
    -webkit-padding-start: 0; }
    .wrapper .bodygidlar .table ul li {
      margin-bottom: 21px; }
      .wrapper .bodygidlar .table ul li img {
        margin-right: 5px; }
      .wrapper .bodygidlar .table ul li a {
        font-size: 22px;
        color: #000000; }

.wrapper .gidsingle .giduser {
  padding: 48px 41px;
  background-image: url("../boostin/images/gidlar/rectangle-3.png"), -webkit-gradient(linear, right top, left top, from(transparent), to(rgba(0, 0, 0, 0.71)));
  background-image: url("../boostin/images/gidlar/rectangle-3.png"), -webkit-linear-gradient(right, transparent, rgba(0, 0, 0, 0.71));
  background-image: url("../boostin/images/gidlar/rectangle-3.png"), -o-linear-gradient(right, transparent, rgba(0, 0, 0, 0.71));
  background-image: url("../boostin/images/gidlar/rectangle-3.png"), linear-gradient(to left, transparent, rgba(0, 0, 0, 0.71));
  background-repeat: no-repeat;
  height: 258px;
  width: 100%;
  border-radius: 5px; }
  .wrapper .gidsingle .giduser .media .media-left {
    width: 162px;
    height: 162px;
    border-radius: 50%;
    background-color: white;
    padding: 10px;
    margin-left: 31px; }
    .wrapper .gidsingle .giduser .media .media-left img {
      width: 152px !important;
      height: 152px;
      border-radius: 50%; }
  .wrapper .gidsingle .giduser .media .media-body {
    padding-left: 31px; }
    .wrapper .gidsingle .giduser .media .media-body h4 {
      font-size: 37px;
      font-weight: bold;
      color: #ffffff;
      text-shadow: 0 3px 4px rgba(0, 0, 0, 0.35); }
    .wrapper .gidsingle .giduser .media .media-body p {
      font-weight: normal;
      font-size: 22px;
      color: #ffffff;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
      margin-bottom: 38px; }
    .wrapper .gidsingle .giduser .media .media-body .hayotgozal {
      margin-left: 29px;
      position: relative;
      display: inline-block;
      padding: 10px 14px 13px;
      border-radius: 0 13px 13px 13px;
      background-color: rgba(255, 255, 255, 0.23); }
      .wrapper .gidsingle .giduser .media .media-body .hayotgozal span {
        opacity: 1;
        font-size: 18px;
        color: #ffffff; }
    .wrapper .gidsingle .giduser .media .media-body .hayotgozal::before {
      left: -25px;
      top: 0;
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-top: 25px solid rgba(255, 255, 255, 0.23);
      border-left: 25px solid transparent; }

.wrapper .gidsingle .gidhaqida {
  margin-top: 6.5px;
  overflow: auto; }
  .wrapper .gidsingle .gidhaqida .col-md-4 ul {
    list-style: none;
    -webkit-padding-start: 0; }
    .wrapper .gidsingle .gidhaqida .col-md-4 ul li {
      margin-bottom: 17px;
      color: #6d6d6d;
      font-size: 16px; }
      .wrapper .gidsingle .gidhaqida .col-md-4 ul li a {
        color: #000000; }
    .wrapper .gidsingle .gidhaqida .col-md-4 ul li.instagram {
      margin-bottom: 68px; }
    .wrapper .gidsingle .gidhaqida .col-md-4 ul li.ulanish {
      margin-bottom: 10px; }
  .wrapper .gidsingle .gidhaqida .col-md-8 .gidlarhaqidatext {
    font-size: 18px;
    line-height: 1.33;
    text-align: justify;
    color: #000000; }
    .wrapper .gidsingle .gidhaqida .col-md-8 .gidlarhaqidatext p {
      margin-bottom: 30px; }

.wrapper .gidsingle .sayohuchunhead {
  margin-bottom: 28px; }
  .wrapper .gidsingle .sayohuchunhead span {
    top: -8px; }

.wrapper .gidsingle .usefulltonow .card {
  display: inline-block;
  margin-bottom: 25px; }

.wrapper .fotoalbom .albomlar .card {
  position: relative;
  color: #ffffff;
  padding: 24px 24px 20px;
  width: 100%;
  display: inline-block;
  height: 269px;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.71)));
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.71));
  background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.71));
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.71));
  margin-bottom: 40px; }
  .wrapper .fotoalbom .albomlar .card span.username {
    margin-bottom: 2px;
    display: block;
    font-size: 14px; }
  .wrapper .fotoalbom .albomlar .card span.view img {
    position: relative;
    top: -2px;
    margin-right: 6px;
    height: 20px; }
  .wrapper .fotoalbom .albomlar .card p {
    position: absolute;
    bottom: 0;
    font-size: 22px;
    font-weight: bold; }

.wrapper .fotoalbom .table {
  padding-top: 32px;
  padding-bottom: 61px;
  overflow: auto; }
  .wrapper .fotoalbom .table ul {
    list-style: none;
    -webkit-padding-start: 0; }
    .wrapper .fotoalbom .table ul li {
      margin-bottom: 21px; }
      .wrapper .fotoalbom .table ul li img {
        margin-right: 5px; }
      .wrapper .fotoalbom .table ul li a {
        font-size: 22px;
        color: #000000; }

.wrapper .cabinetmaqolla .foydalanuvchi,
.wrapper .cabinetpost .foydalanuvchi {
  padding: 48px 41px;
  background-image: url("../boostin/images/gidlar/rectangle-3.png"), -webkit-gradient(linear, right top, left top, from(transparent), to(rgba(0, 0, 0, 0.71)));
  background-image: url("../boostin/images/gidlar/rectangle-3.png"), -webkit-linear-gradient(right, transparent, rgba(0, 0, 0, 0.71));
  background-image: url("../boostin/images/gidlar/rectangle-3.png"), -o-linear-gradient(right, transparent, rgba(0, 0, 0, 0.71));
  background-image: url("../boostin/images/gidlar/rectangle-3.png"), linear-gradient(to left, transparent, rgba(0, 0, 0, 0.71));
  background-repeat: no-repeat;
  height: 258px;
  width: 100%;
  border-radius: 5px; }
  .wrapper .cabinetmaqolla .foydalanuvchi .media .media-left,
  .wrapper .cabinetpost .foydalanuvchi .media .media-left {
    width: 162px;
    height: 162px;
    border-radius: 50%;
    background-color: white;
    padding: 10px;
    margin-left: 31px; }
    .wrapper .cabinetmaqolla .foydalanuvchi .media .media-left img,
    .wrapper .cabinetpost .foydalanuvchi .media .media-left img {
      width: 152px !important;
      height: 152px;
      border-radius: 50%; }
  .wrapper .cabinetmaqolla .foydalanuvchi .media .media-body,
  .wrapper .cabinetpost .foydalanuvchi .media .media-body {
    padding-left: 31px; }
    .wrapper .cabinetmaqolla .foydalanuvchi .media .media-body h4,
    .wrapper .cabinetpost .foydalanuvchi .media .media-body h4 {
      font-size: 37px;
      font-weight: bold;
      color: #ffffff;
      text-shadow: 0 3px 4px rgba(0, 0, 0, 0.35); }
    .wrapper .cabinetmaqolla .foydalanuvchi .media .media-body p,
    .wrapper .cabinetpost .foydalanuvchi .media .media-body p {
      font-weight: normal;
      font-size: 22px;
      color: #ffffff;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
      margin-bottom: 38px; }
    .wrapper .cabinetmaqolla .foydalanuvchi .media .media-body .hayotgozal,
    .wrapper .cabinetpost .foydalanuvchi .media .media-body .hayotgozal {
      margin-left: 0;
      position: relative;
      display: inline-block;
      padding: 10px 14px;
      border-radius: 13px;
      background-color: rgba(255, 255, 255, 0.23); }
      .wrapper .cabinetmaqolla .foydalanuvchi .media .media-body .hayotgozal span,
      .wrapper .cabinetpost .foydalanuvchi .media .media-body .hayotgozal span {
        opacity: 1;
        font-size: 14px;
        color: #ffffff; }

.wrapper .cabinetmaqolla .sayohuchunhead,
.wrapper .cabinetpost .sayohuchunhead {
  margin-bottom: 28px; }
  .wrapper .cabinetmaqolla .sayohuchunhead span,
  .wrapper .cabinetpost .sayohuchunhead span {
    top: -8px; }

.wrapper .cabinetmaqolla .usefulltonow .card,
.wrapper .cabinetpost .usefulltonow .card {
  display: inline-block;
  margin-bottom: 25px; }

.wrapper .cabinetmaqolla .tab,
.wrapper .cabinetpost .tab {
  margin-top: 37px;
  margin-bottom: 31px; }
  .wrapper .cabinetmaqolla .tab ul,
  .wrapper .cabinetpost .tab ul {
    border-bottom: solid 1px #c4c4c4;
    margin-bottom: 30.5px;
    list-style: none;
    -webkit-padding-start: 0; }
    .wrapper .cabinetmaqolla .tab ul li,
    .wrapper .cabinetpost .tab ul li {
      position: relative;
      top: 1px;
      display: inline-block;
      margin-right: 33px; }
      .wrapper .cabinetmaqolla .tab ul li a,
      .wrapper .cabinetpost .tab ul li a {
        padding: 12px 0;
        display: block;
        font-size: 22px;
        color: #919191; }
    .wrapper .cabinetmaqolla .tab ul li.active,
    .wrapper .cabinetpost .tab ul li.active {
      border-bottom: 1px solid black; }
      .wrapper .cabinetmaqolla .tab ul li.active a,
      .wrapper .cabinetpost .tab ul li.active a {
        color: black; }

.wrapper .cabinetmaqolla .buttons,
.wrapper .cabinetpost .buttons {
  list-style: none;
  -webkit-padding-start: 0; }
  .wrapper .cabinetmaqolla .buttons li,
  .wrapper .cabinetpost .buttons li {
    display: inline-block; }

.wrapper .cabinetmaqolla form .buttons li label,
.wrapper .cabinetpost form .buttons li label {
  padding: 8px;
  font-size: 14px;
  color: #000000;
  border-radius: 2px;
  margin-right: 23px;
  font-weight: normal;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#d8d8d8));
  background-image: -webkit-linear-gradient(top, #eeeeee, #d8d8d8);
  background-image: -o-linear-gradient(top, #eeeeee, #d8d8d8);
  background-image: linear-gradient(to bottom, #eeeeee, #d8d8d8); }
  .wrapper .cabinetmaqolla form .buttons li label input,
  .wrapper .cabinetpost form .buttons li label input {
    position: relative;
    top: 1px;
    margin-right: 6px; }

.wrapper .cabinetmaqolla form .buttons li #nashrqilish,
.wrapper .cabinetmaqolla form .buttons li #ochirish,
.wrapper .cabinetpost form .buttons li #nashrqilish,
.wrapper .cabinetpost form .buttons li #ochirish {
  position: relative;
  top: -2px;
  border-radius: 2px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#d8d8d8));
  background-image: -webkit-linear-gradient(top, #eeeeee, #d8d8d8);
  background-image: -o-linear-gradient(top, #eeeeee, #d8d8d8);
  background-image: linear-gradient(to bottom, #eeeeee, #d8d8d8);
  padding: 9.5px;
  margin-right: 8px;
  border: none;
  font-size: 14px;
  color: #000000; }

.wrapper .cabinetmaqolla form fieldset table tr,
.wrapper .cabinetpost form fieldset table tr {
  border-top: solid 1px #e5e5e5; }
  .wrapper .cabinetmaqolla form fieldset table tr td,
  .wrapper .cabinetpost form fieldset table tr td {
    padding: 6px; }
    .wrapper .cabinetmaqolla form fieldset table tr td img,
    .wrapper .cabinetpost form fieldset table tr td img {
      vertical-align: baseline; }

.wrapper .cabinetmaqolla .pagination,
.wrapper .cabinetpost .pagination {
  float: right;
  padding-right: 10px; }
  .wrapper .cabinetmaqolla .pagination ul.paginationlist,
  .wrapper .cabinetpost .pagination ul.paginationlist {
    list-style: none;
    -webkit-padding-start: 0; }
    .wrapper .cabinetmaqolla .pagination ul.paginationlist li,
    .wrapper .cabinetpost .pagination ul.paginationlist li {
      display: inline-block; }
      .wrapper .cabinetmaqolla .pagination ul.paginationlist li a,
      .wrapper .cabinetpost .pagination ul.paginationlist li a {
        padding: 0 5px;
        font-size: 15px;
        color: #000000; }

.wrapper .bodypost .commentlar {
  -webkit-box-shadow: 0 7px 16px -6px rgba(0, 0, 0, 0.5);
  box-shadow: 0 7px 16px -6px rgba(0, 0, 0, 0.5);
  position: relative;
  margin-top: 35px; }
  .wrapper .bodypost .commentlar img.photo {
    width: 100%; }

.wrapper .cabinetauth .formleft label,
.wrapper .cabinetauth .formrigth label,
.wrapper .cabinetauth .registration label,
.wrapper .cabinetauth .saytkirishform label,
.wrapper .cabinetmaqolla .formleft label,
.wrapper .cabinetmaqolla .formrigth label,
.wrapper .cabinetmaqolla .registration label,
.wrapper .cabinetmaqolla .saytkirishform label,
.wrapper .cabinetpost .formleft label,
.wrapper .cabinetpost .formrigth label,
.wrapper .cabinetpost .registration label,
.wrapper .cabinetpost .saytkirishform label,
.wrapper .cabinetregistr .formleft label,
.wrapper .cabinetregistr .formrigth label,
.wrapper .cabinetregistr .registration label,
.wrapper .cabinetregistr .saytkirishform label {
  font-weight: normal;
  display: block;
  font-size: 16px;
  color: #6e6e6e;
  margin-bottom: 10px; }

.wrapper .cabinetauth .formleft input,
.wrapper .cabinetauth .formrigth input,
.wrapper .cabinetauth .registration input,
.wrapper .cabinetauth .saytkirishform input,
.wrapper .cabinetmaqolla .formleft input,
.wrapper .cabinetmaqolla .formrigth input,
.wrapper .cabinetmaqolla .registration input,
.wrapper .cabinetmaqolla .saytkirishform input,
.wrapper .cabinetpost .formleft input,
.wrapper .cabinetpost .formrigth input,
.wrapper .cabinetpost .registration input,
.wrapper .cabinetpost .saytkirishform input,
.wrapper .cabinetregistr .formleft input,
.wrapper .cabinetregistr .formrigth input,
.wrapper .cabinetregistr .registration input,
.wrapper .cabinetregistr .saytkirishform input {
  -webkit-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  width: 100%;
  border: solid 1px #dadada;
  padding: 8px 10px; }

.wrapper .cabinetauth .formleft a,
.wrapper .cabinetauth .formrigth a,
.wrapper .cabinetauth .registration a,
.wrapper .cabinetauth .saytkirishform a,
.wrapper .cabinetmaqolla .formleft a,
.wrapper .cabinetmaqolla .formrigth a,
.wrapper .cabinetmaqolla .registration a,
.wrapper .cabinetmaqolla .saytkirishform a,
.wrapper .cabinetpost .formleft a,
.wrapper .cabinetpost .formrigth a,
.wrapper .cabinetpost .registration a,
.wrapper .cabinetpost .saytkirishform a,
.wrapper .cabinetregistr .formleft a,
.wrapper .cabinetregistr .formrigth a,
.wrapper .cabinetregistr .registration a,
.wrapper .cabinetregistr .saytkirishform a {
  float: right;
  margin-top: 5px;
  margin-bottom: 136px;
  padding: 8px 59px;
  font-size: 14px;
  background-image: -webkit-linear-gradient(346deg, #ff5746, #ff528c);
  background-image: -o-linear-gradient(346deg, #ff5746, #ff528c);
  background-image: linear-gradient(104deg, #ff5746, #ff528c);
  color: #ffffff; }

.wrapper .cabinetauth .formleft a.saqlash,
.wrapper .cabinetauth .formrigth a.saqlash,
.wrapper .cabinetauth .registration a.saqlash,
.wrapper .cabinetauth .saytkirishform a.saqlash,
.wrapper .cabinetmaqolla .formleft a.saqlash,
.wrapper .cabinetmaqolla .formrigth a.saqlash,
.wrapper .cabinetmaqolla .registration a.saqlash,
.wrapper .cabinetmaqolla .saytkirishform a.saqlash,
.wrapper .cabinetpost .formleft a.saqlash,
.wrapper .cabinetpost .formrigth a.saqlash,
.wrapper .cabinetpost .registration a.saqlash,
.wrapper .cabinetpost .saytkirishform a.saqlash,
.wrapper .cabinetregistr .formleft a.saqlash,
.wrapper .cabinetregistr .formrigth a.saqlash,
.wrapper .cabinetregistr .registration a.saqlash,
.wrapper .cabinetregistr .saytkirishform a.saqlash {
  text-align: center;
  margin-bottom: 17px;
  margin-top: 32px;
  width: 100%; }

.wrapper .cabinetauth .formleft input[type=file],
.wrapper .cabinetauth .formrigth input[type=file],
.wrapper .cabinetauth .registration input[type=file],
.wrapper .cabinetauth .saytkirishform input[type=file],
.wrapper .cabinetmaqolla .formleft input[type=file],
.wrapper .cabinetmaqolla .formrigth input[type=file],
.wrapper .cabinetmaqolla .registration input[type=file],
.wrapper .cabinetmaqolla .saytkirishform input[type=file],
.wrapper .cabinetpost .formleft input[type=file],
.wrapper .cabinetpost .formrigth input[type=file],
.wrapper .cabinetpost .registration input[type=file],
.wrapper .cabinetpost .saytkirishform input[type=file],
.wrapper .cabinetregistr .formleft input[type=file],
.wrapper .cabinetregistr .formrigth input[type=file],
.wrapper .cabinetregistr .registration input[type=file],
.wrapper .cabinetregistr .saytkirishform input[type=file] {
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 7px 10px; }

.wrapper .cabinetauth .formleft input[type=password],
.wrapper .cabinetauth .formrigth input[type=password],
.wrapper .cabinetauth .registration input[type=password],
.wrapper .cabinetauth .saytkirishform input[type=password],
.wrapper .cabinetmaqolla .formleft input[type=password],
.wrapper .cabinetmaqolla .formrigth input[type=password],
.wrapper .cabinetmaqolla .registration input[type=password],
.wrapper .cabinetmaqolla .saytkirishform input[type=password],
.wrapper .cabinetpost .formleft input[type=password],
.wrapper .cabinetpost .formrigth input[type=password],
.wrapper .cabinetpost .registration input[type=password],
.wrapper .cabinetpost .saytkirishform input[type=password],
.wrapper .cabinetregistr .formleft input[type=password],
.wrapper .cabinetregistr .formrigth input[type=password],
.wrapper .cabinetregistr .registration input[type=password],
.wrapper .cabinetregistr .saytkirishform input[type=password] {
  letter-spacing: 3px; }

.wrapper .cabinetauth .saytkirish,
.wrapper .cabinetregistr .saytkirish {
  text-align: center;
  border-bottom: 1px solid #c4c4c4;
  padding: 10px 0 0;
  margin-bottom: 35px; }
  .wrapper .cabinetauth .saytkirish span,
  .wrapper .cabinetregistr .saytkirish span {
    font-size: 22px;
    font-weight: bold;
    color: #000000;
    position: relative;
    top: -9px;
    border-bottom: 1px solid black;
    padding: 12px 0; }

.wrapper .cabinetauth .saytkirishlink,
.wrapper .cabinetregistr .saytkirishlink {
  font-weight: normal;
  overflow: auto;
  margin-top: 56px; }
  .wrapper .cabinetauth .saytkirishlink label,
  .wrapper .cabinetregistr .saytkirishlink label {
    font-weight: normal;
    padding: 8px 0; }
    .wrapper .cabinetauth .saytkirishlink label input,
    .wrapper .cabinetregistr .saytkirishlink label input {
      font-weight: normal;
      position: relative;
      top: 2px;
      font-size: 16px;
      color: #6e6e6e; }
  .wrapper .cabinetauth .saytkirishlink a,
  .wrapper .cabinetregistr .saytkirishlink a {
    font-weight: normal;
    text-align: center;
    font-size: 14px;
    padding: 8px;
    width: 100%;
    display: block;
    background-image: -webkit-linear-gradient(346deg, #ff5746, #ff528c);
    background-image: -o-linear-gradient(346deg, #ff5746, #ff528c);
    background-image: linear-gradient(104deg, #ff5746, #ff528c);
    color: #ffffff; }

.wrapper .cabinetauth .royhatdanotish,
.wrapper .cabinetregistr .royhatdanotish {
  font-weight: normal;
  margin-top: 11px;
  text-align: center; }
  .wrapper .cabinetauth .royhatdanotish label,
  .wrapper .cabinetregistr .royhatdanotish label {
    font-weight: normal;
    font-size: 16px;
    color: #6e6e6e;
    margin-bottom: 11px; }
  .wrapper .cabinetauth .royhatdanotish a,
  .wrapper .cabinetregistr .royhatdanotish a {
    font-weight: normal;
    text-align: center;
    font-size: 14px;
    padding: 8px 64px;
    display: inline-block;
    margin-bottom: 94px;
    background-image: -webkit-linear-gradient(346deg, #ff5746, #ff528c);
    background-image: -o-linear-gradient(346deg, #ff5746, #ff528c);
    background-image: linear-gradient(104deg, #ff5746, #ff528c);
    color: #ffffff; }

@media (min-width: 1200px) {
  .footerow {
    margin-top: 5px;
    margin-bottom: 39px; } }

/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style-dist.css.map */