body {
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-family: 'Open Sans', sans-serif;

}
* {
  a:hover {
    text-decoration: none !important;
  }

  a:visited {
    text-decoration: none;
  }
}

a {
  &:focus,
  &:hover,
  &:visited {
    text-decoration: none;
  }
}
.nav_bar {
        padding: 28px 0 40px;

        ul {
          -webkit-padding-start: 0;
          list-style: none;

          li {
            
            display: inline-block;

            a {
              padding: 0 18px;
              font-size: 15px;
              text-transform: uppercase;
              color: rgba(0, 0, 0, 0.54);
            }

            a:hover {
              text-decoration: none;
            }
          }
        }
      }
*:focus {
  outline: 0 !important;
}
.footerow {
  margin-top: -40px;
    margin-bottom: 39px;
}
.submitbutton {
  border: 0;
  padding: 8px 30px;
  font-size: 14px;
  letter-spacing: -0.4px;
  color: #ffffff;
  border-radius: 15.5px;
  background-image: linear-gradient(107deg, #ff5746, #ff528c);
}
.fikr input.submitbutton {
  margin-top: 15px;
    float: right;
    margin-bottom: 20px;
}
.fikr textarea {
  width: 100%;
  border: 1px solid #979797;
  border-radius: 10px;
  padding: 10px;
}
.maqola {
  a.maqola_joylash {
    padding: 8px 30px;
    font-size: 14px;
    letter-spacing: -0.4px;
    color: #ffffff;
    border-radius: 18.5px;
    background-image: linear-gradient(107deg, #ff5746, #ff528c);
    box-shadow: 0 5px 20px -5px #FF528C;
    font-weight: bold;
  }

  a.maqola_joylash:hover {
    text-decoration: none;
  }


  &.fikrbildir {
    text-align: center;
  }
}
.bodypost {
  img.thisphoto {
    width: 100%;
  }
}
.wrapper {
  header {
    padding-top: 27px !important;
  }

  .container {
    .maqola {
      padding: 26px 15px 17px;
    }

    .account {
      padding: 15px 15px 0;
    }

    .col-md-4 {

      a {
        img {
          margin: 0 32px;
        }
      }
      .left_border,
      .right_border {
        position: relative;
        top: 35px;
        width: 80px;
        height: 2px;
        border: solid 1px #d3d3d3;
      }

      .left_border {
        float: left;
      }

      .right_border {
        float: right;
      }

      .left_acount {
        border-radius: 17.5px;
        background-color: #ffffff;
        box-shadow: 0 6px 14px -3px rgba(0, 0, 0, 0.2);
        float: right;

        img.icon_account {
          padding: 6px;
        }

        img {
          border-radius: 25px;
        }

        span {
          font-size: 14px;
          color: #343434;
          font-weight: bold;
          font-style: normal;
          letter-spacing: -0.4px;
          padding: 0 17px 0 4px;
        }
      }
    }

    .col-md-12 {
      
    }

    .col-md-9 {
      .carusell {
        background-image: url("../boostin/images/rectangle-3.jpg");
        object-fit: contain;
        border-radius: 10px;
        height: 400px;

        .icon {
          width: 60%;
          z-index: 2;
          position: relative;
          top: 27px;
          left: 27px;

          img {
            margin-right: 5px;
          }
        }

        .righttext {
          position: relative;
          float: right;
          top: -31px;
          width: 311px;
          height: 400px;
          border-radius: 10px;
          background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #000000);

          ul {
            -webkit-padding-start: 0;
            list-style: none;
          }

          ul {
            li {
              padding: 0 20px 0 30px;
              margin-top: 28px;

              a::before {
                content: '';
                width: 5px;
                left: -15px;
                height: 100%;
                opacity: 0.52;
                border-radius: 2.5px;
                background-color: #ffffff;
                position: absolute;
                top: 1px;
              }

              a {
                position: relative;
                font-size: 14px;
                color: #ffffff;
                line-height: 1.14;
              }
            }
          }
        }

        .bottomText {
          position: relative;
          bottom: 0;
          left: 27px;
          width: 50%;
        }
      }
    }

    .col-md-3 {
      .rigthreklama {
        height: 400px;
        object-fit: contain;
        width: 100%;
        background-color: #d3d3d3;
        border-radius: 10px;
      }
    }

    .addreklama {
      height: 138px;
      object-fit: contain;
      background-color: #d3d3d3;
      border-radius: 10px;
    }

    .agentliklar,
    .aviatime,
    .bilishfoyd,
    .fikrlar,
    .header,
    .mulohazalar,
    .news,
    .savoljavoblar,
    .sayohatlar,
    .sayohattext,
    .sayohuchunhead,
    .saytkirish,
    .scrollhead,
    .selfiehead,
    .tailhaqida {
      border-bottom: 1px solid #c4c4c4;
      padding: 50px 0 0;

      span {
        font-size: 22px;
        font-weight: bold;
        color: #000000;
        position: relative;
        top: -9px;
        border-bottom: 1px solid black;
        padding: 10px 0;
      }

      a,
      a.barmaqol {
        float: right;
        color: rgba(0, 0, 0, 0.54);
        font-size: 15px;
        font-weight: normal;
      }
    }

    .aviatime,
    .selfiehead {
      padding-top: 6px;
    }

    .leftcard {
      margin: 35px 0 25px;

      .card {
        h3 {
          margin-top: 0;
        }
        display: inline-block;
        width: 69%;
      }

      img {
        float: right;
      }

      .card {
        ul {
          list-style: none;
          -webkit-padding-start: 0;

          .turizmi {
            margin-bottom: 13px;

            a {
              font-size: 24px;
              font-weight: bold;
              line-height: 1.17;
              color: #000000;
            }
          }

          .ilgari {
            font-size: 16px;
            color: rgba(0, 0, 0, 0.54);
            line-height: 1.25;
            margin-bottom: 21px;
          }

          .sevdays {
            margin-bottom: 4px;

            a {
              font-size: 15px;
              line-height: 1.33;
              color: #000000;
            }
          }

          .sana {
            a {
              color: rgba(0, 0, 0, 0.54);
              line-height: 1.33;
              font-size: 15px;
            }

            ul {
              -webkit-padding-start: 26px;
              list-style: disc;
              display: inline-block;
            }
          }
        }
      }
    }

    .savoljavoblar {
      margin-bottom: 32.5px;
    }

    .cardcardsavoljavob {
      .card {
        ul {
          list-style: none;
          -webkit-padding-start: 0;

          li {
            margin-bottom: 11px;

            a {
              color: #000000;
              font-size: 18px;
              font-weight: bold;
              line-height: 1.11;
            }

            ul {
              list-style: disc;
              display: inline-block;
              -webkit-padding-start: 24px;

              li {
                color: rgba(0, 0, 0, 0.54);
                line-height: 1.33;
                font-size: 15px;
              }
            }
          }

          li.numebanswers {
            a {
              font-size: 15px;
              line-height: 1.33;
              color: rgba(0, 0, 0, 0.89);
              font-weight: normal;
            }
          }
        }
      }
    }

    .panel {
      margin-top: 54px;

      .panelheader {
        border-radius: 10px 10px 0 0;
        background-color: #ff5746;
        line-height: 1.11;
        color: #ffffff;
        padding: 14px 35px 13px 21px;
        font-size: 18px;
        display: block;
      }

      form {
        border: solid 1px #e7e7e7;
        border-radius: 0 0 10px 10px;
        display: block;
        padding: 27px 36px 21px;

        label {
          text-align: left;
          margin-bottom: 12px;
          font-size: 14px;
          line-height: 1.43;
          color: rgba(0, 0, 0, 0.89);
          font-weight: normal;
          display: block;

          input {
            margin-right: 14px;
            position: relative;
            top: 2px;
          }
        }

        label:hover {
          cursor: pointer;
        }

        a.ovozberish {
          border-radius: 15.5px;
          background-image: linear-gradient(107deg, #ff5746, #ff528c);
          font-size: 14px;
          letter-spacing: -0.4px;
          color: #ffffff;
          padding: 7px 30px;
          margin: 18px auto 20px;
          box-shadow: 0 6px 14px -3px rgba(0, 0, 0, 0.2);
        }
        text-align: center;

        p {
          margin-top: 20px;
          font-size: 14px;
          color: #606060;
        }
      }
    }

    .bilishfoyd {
      margin-bottom: 21.5px;
    }

    .rigthcard {
      padding-top: 32px;

      .card {
        margin-bottom: 30px;

        ul {
          list-style: none;
          -webkit-padding-start: 0;

          li.sevdays {
            a {
              line-height: 1.33;
              color: rgba(0, 0, 0, 0.89);
              font-size: 15px;
            }

            ul.underlist {
              display: inline-block;
              list-style: disc;
              -webkit-padding-start: 26px;
              color: rgba(0, 0, 0, 0.54);
            }
          }

          li.fikrlenta {
            a {
              font-size: 18px;
              font-weight: bold;
              line-height: 1.11;
              color: #000000;
            }
            margin-bottom: 11px;
          }
        }
      }
    }

    .sayohuchunhead {
      span {
        top: -9px;
      }
    }

    .sayohuchunbody {
      margin-top: 25px;

      .fortravel {
        img {
          position: relative;
        }

        span {
          left: 17px;
          width: 55px;
          height: 19px;
          font-size: 16px;
          color: #ffffff;
          position: relative;
          top: -30px;
        }
      }
    }

    .usefulltonow {
      overflow: auto;

      a.card {
        border-radius: 9px;
        display: inline-block;
        box-shadow: 0 5px 10px -4px rgba(0, 0, 0, 0.25);
        margin-bottom: 10px;

        img {
          border-radius: 9px 9px 0 0;
          width: 100%;
        }

        .usefull {
          box-shadow: 0 5px 10px -4px rgba(0, 0, 0, 0.25);
          padding: 23px 30px;
          font-size: 18px;
          font-weight: bold;
          line-height: 1.33;
          color: #000000;
          border-radius: 0 0 9px 9px;
          border: 1px solid rgba(168, 166, 166, 0.25);
        }
      }
    }

    .yanamaqolachiqar {
      text-align: center;

      .yanamaqol {
        margin: 0 auto;
        color: white;
        padding: 14px 80px;
        background-image: linear-gradient(105deg, #ff5746, #ff528c);
        position: relative;
        top: 12px;
        border-radius: 30.5px;
        margin-top: 21px;
        display: inline-block;
        z-index: 9;
      }
    }
  }

  footer {
    margin-top: 0;

    .container-fluid {
      padding: 0;
      min-height: 291px;
      background-image: linear-gradient(110deg, #ff5746, #ff528c);
      overflow: hidden;

      .footertop {
        margin-top: -463px;
        text-align: center;
        background-color: white;
        z-index: 2;
        position: relative;
        left: -10%;
        width: 120%;
        height: 600px;
        border-radius: 0 0 50% 50%;
      }

      .container {
        ul {
          -webkit-padding-start: 0;
        }
      }

      ul.leftsaytmat {
        list-style: none;
        font-size: 15px;
        color: #ffffff;

        li {
          padding-bottom: 17px;
        }
      }

      ul.saytreklama {
        li {
          color: #ffffff;

          a {
            line-height: 2.13;
            color: #ffffff;
            font-size: 15px;
          }

          a:hover {
            text-decoration: none;
          }
        }
      }

      ul.instambatfoter {
        margin-top: 7px;
        float: right;
        list-style: none;

        li {
          a {
            display: inline-block;
            width: 60px;
            height: 60px;
            margin: -2px;

            img {
              margin: 0;
            }
          }
          margin: 0;
        }
      }
    }

    .copywrite {
      padding: 17px 0 8px;
      margin: 0 auto;

      p {
        font-size: 13px;
        color: #4b4b4b;

        a {
          font-size: 14px;
          color: #959595;
        }
      }

      p.boost {
        color: #4b4b4b;
        font-size: 14px;

        a {
          color: #838383;
        }
      }
    }
  }

  .bodypost {
    .imgbody {
      width: 100%;
      top: 0;
      position: absolute;
      overflow: hidden;

      .nocomment {
        position: absolute;
        bottom: 113px;
        left: 105px;
        color: #fff;
      }

      .comments {
        overflow-y: scroll;
        height: 100%;
        margin: 0 64px 0 88px;

        &::-webkit-scrollbar {
          display: none;
        }

        &::-moz-scrollbars {
          display: none;
        }

        .padding {
          height: 76px;
        }

        .comment {
          background-color: rgba(255, 255, 255, 0.9);
          margin: 10px 0;
          position: relative;
          border-radius: 5px;
          overflow: hidden;

          .cavatar {
            height: 100%;
            width: 76px;
            position: absolute;
            background-size: cover !important;
            background-position: center !important;
          }

          .cmt {
            padding: 8px 8px 8px 87px;
            font-size: 13px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #000000;
          }

          .authorname {
            padding-top: 8px;
            padding-left: 87px;
            font-size: 13px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: -0.3px;
            text-align: left;
            color: #6d6d6d;
          }

          .date {
            position: absolute;
            right: 8px;
            top: 8px;
            font-size: 13px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: -0.3px;
            text-align: left;
            color: #bababa;
          }
        }
      }

      .submitcomment {
        position: absolute;
        bottom: 24px;
        left: 88px;

        input {
          padding: 10px 60px 10px 20px;
          border-radius: 28.5px;
          background: rgba(0, 0, 0, 0.4);
          border: 0;
          outline: 0;
          color: #fff;

          &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            font-size: 15px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: -0.3px;
            text-align: justify;
            color: rgba(255, 255, 255, 0.6);
          }

          &::-moz-placeholder {
            /* Firefox 19+ */
            font-size: 15px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: -0.3px;
            text-align: justify;
            color: rgba(255, 255, 255, 0.6);
          }

          &:-ms-input-placeholder {
            /* IE 10+ */
            font-size: 15px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: -0.3px;
            text-align: justify;
            color: rgba(255, 255, 255, 0.6);
          }

          &:-moz-placeholder {
            /* Firefox 18- */
            font-size: 15px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: -0.3px;
            text-align: justify;
            color: rgba(255, 255, 255, 0.6);
          }
        }

        button {
          position: absolute;
          right: 0;
          top: 0;
          background: none;
          border: 0;
          padding: 10px 20px;
          border-radius: 0 28px 28px 0;
        }
      }

      .chapbar {
        position: absolute;
        bottom: 24px;
        left: 24px;

        .combutton {
          margin-bottom: 20px;

          &.opened {
            a {
              img {
                margin-left: -6px;
              }
            }
          }

          a {
            display: block;
            text-align: center;

            &:hover {
              opacity: 0.7;
            }

            &:active {
              opacity: 1;
            }
          }
        }

        .likephoto {
          text-align: center;

          span.count {
            display: block;
            font-size: 15px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: -0.3px;
            color: rgba(255, 255, 255, 0.84);
            margin-bottom: 6px;
          }

          a {
            display: block;

            &:hover {
              img {
                transform: scale(1.1, 1.1);
                transition: ease-in 0.1s;
              }
            }

            &:active {
              img {
                transform: scale(1.38, 1.38);
                transition: ease-in 0.05s;
              }
            }
          }
        }
      }
    }

    .user {
      list-style: none;
      -webkit-padding-start: 0;

      li {
        display: inline-block;
      }

      li.usercicrle {
        padding: 3px;
        border-radius: 50%;
        border: 1px solid #000000;
        width: 64px;
        height: 64px;
        position: relative;
        top: -20px;

        a {
          background-color: white;
          z-index: 2;
          top: 17px;
          position: relative;
          padding: 7px 70px;
          left: -7px;
        }

        img {
          position: relative;
          top: -20px;
          z-index: 3;
        }
      }

      li.usercicrle:hover {
        cursor: pointer;
      }

      li.usermalumot {
        position: relative;
        top: -20px;
        font-size: 15px;
        color: rgba(102, 102, 102, 0.89);
        line-height: 1.33;
        margin-left: 20px;

        a {
          color: rgba(0, 0, 0, 0.89);
        }
      }
    }

    .turizmnirivoj {
      h1 {
        font-size: 42px;
        font-weight: bold;
        line-height: 1.24;
        letter-spacing: -1px;
        text-align: left;
        color: #000000;
      }
    }

    .textturizm,
    .turizmnirivoj {
      p {
        font-size: 21px;
        line-height: 1.58;
        letter-spacing: -0.3px;
        color: rgba(0, 0, 0, 0.84);
        padding-bottom: 38px;
        padding-top: 12px;
      }
    }

    .textturizm {
      p {
        padding-top: 31px;
        padding-bottom: 0;
      }
    }

    .turistfikri {
      margin-bottom: 21.5px;
      border-bottom: 1px solid #c4c4c4;
      padding: 50px 0 0;

      span {
        font-size: 22px;
        font-weight: bold;
        color: #000000;
        position: relative;
        top: -9px;
        border-bottom: 1px solid black;
        padding: 12px 0;
      }
    }

    .addreklama {
      margin-top: 41px;
    }
  }

  .bodysayohatlar {
    .qidiruv {
      object-fit: contain;
      background-image: url("../boostin/images/rectangle-13.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      height: 291px;

      .endyahwi {
        text-align: center;
        margin-bottom: 44px;
        font-size: 24px;
        font-weight: bold;
        line-height: 1.17;
        color: #ffffff;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
      }

      .inputgroup {
        label {
          display: block;
          font-size: 16px;
          color: #ffffff;
        }

        input {
          background-color: #ececec;
          border: none;
          color: #454545;
          font-size: 16px;
          margin-bottom: 19px;
          width: 100%;
          padding: 11.5px 0 11.5px 18px;
        }
      }
    }

    .izlash,
    .mehmonhonatanlash {
      object-fit: contain;
      background-image: url("../boostin/images/aviabilet/rectangle-13.png");
      background-repeat: no-repeat;
      background-size: cover;
      height: 291px;

      .endyahwi {
        text-align: center;
        margin-bottom: 44px;
        font-size: 24px;
        font-weight: bold;
        line-height: 1.17;
        color: #ffffff;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
      }

      .inputgroup {
        label {
          display: block;
          font-size: 16px;
          color: #ffffff;
        }

        input {
          background-color: #ececec;
          border: none;
          color: #454545;
          font-size: 16px;
          margin-bottom: 19px;
          width: 100%;
          padding: 11.5px 0 11.5px 18px;
        }
      }
    }

    .mehmonhonatanlash {
      background-image: url("../boostin/images/country/rectangle-13.png");

      .endyahwi {
        margin-top: 30px;
        margin-bottom: 26px;
      }
    }

    .sayohatbutton {
      display: block;
      width: 100%;
      height: 47px;
      text-align: center;
      padding: 14px 0;
      background-image: linear-gradient(to bottom, #fad961, #f76b1c);
      font-size: 16px;
      font-weight: bold;
      color: #ffffff;
      text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
      margin-top: 26px;
    }

    .card {
      ul {
        li {
          font-size: 16px;
          line-height: 1.25;
          color: rgba(0, 0, 0, 0.54);
        }

        li.companyname {
          font-size: 24px;
          font-weight: bold;
          line-height: 1.17;
          margin-bottom: 5px;

          a {
            color: #000000;
          }
        }

        li.mchj {
          margin-bottom: 17px;
        }

        li.telefon {
          margin: 6px 0 3px;
          font-size: 15px;
          line-height: 1.33;
          color: rgba(0, 0, 0, 0.89);

          a {
            color: rgba(0, 0, 0, 0.89);
          }
        }

        li.sana {
          font-size: 15px;
          line-height: 1.33;

          a {
            color: rgba(1, 24, 103, 0.54) !important;
          }
        }
      }
    }

    .paginationbar {
      text-align: center;

      ul {
        border-bottom: 1px solid #c4c4c4;
        display: inline-block;
        list-style: none;
        -webkit-padding-start: 0;

        li {
          display: inline-block;

          a {
            padding: 0 8px;
            font-size: 22px;
            color: #000000;
          }
        }

        li.active {
          border-bottom: 1px solid #000000;
          position: relative;
          top: 1px;
        }
        margin-bottom: 54px;
      }

      ul:hover {
        cursor: pointer;
      }
    }

    .mehmonhonalar {
      margin-top: 39.5px;

      .cardmehmonhona {
        img.cardimg {
          width: 100%;
        }
      }

      a.cardtext {
        ul {
          padding: 0 9.5px;
          position: relative;
          top: -27px;
          margin-bottom: -26px;
          list-style: none;
          -webkit-padding-start: 9.5px;

          li {
            img {
              height: 15px;
              width: 15px;
            }
            display: inline-block;
          }

          li.pull-right {
            margin-left: 5px;
          }
        }
      }

      img {
        border-radius: 10px;
      }

      .cardmehmonhona {}

      ul.cardlist {
        -webkit-padding-start: 0;
        list-style: none;

        li {
          font-weight: bold;
          color: #000000;
        }

        li.summa {
          margin-top: 19px;
          font-size: 24px;
          color: #000000;
        }

        li.hotelname {
          font-size: 18px;
          margin-bottom: 17px;
        }

        li.hotelcountry {
          font-size: 18px;
          font-weight: normal;
          color: #979797;
        }
      }
    }
  }

  .scroll {
    .scrollmenu {
      overflow: auto;
      white-space: nowrap;
    }

    .scrollmenu {
      padding-top: 28px;
      padding-bottom: 51px;

      a {
        display: inline-block;
        text-align: center;
        margin-right: 41px;
        text-decoration: none;
        width: 167px;
        height: 203px;
      }
    }

    .mamlakat {
      text-align: center;
      border-bottom: 1px solid #c4c4c4;
      padding: 50px 0 0;

      span {
        font-size: 22px;
        font-weight: bold;
        color: #000000;
        position: relative;
        top: -9px;
        border-bottom: 1px solid black;
        padding: 12px 0;
      }
    }
  }

  .tourgency {
    .selfiebody {
      padding-top: 42.5px;

      ul {
        list-style: none;
        -webkit-padding-start: 0;

        li.selfielogo {
          width: 100%;
          padding: 124px 0;
          text-align: center;
          margin-bottom: 35px;
          border-radius: 30px;
          box-shadow: 0 4px 19px -9px rgba(0, 0, 0, 0.5);
        }

        li {
          padding-left: 15px;
          margin-bottom: 20px;
          font-size: 15px;
        }

        li.email,
        li.sayt,
        li.telfon {
          font-weight: bold;
          font-size: 15px;
          line-height: 1.4;
          color: #000000;

          a {
            color: #000000;
            font-weight: normal;
          }
        }

        li.lacation {
          img {
            margin: 0;
          }
        }

        li.sayt {
          margin-bottom: 35px;
        }

        li.lacation {
          padding-left: 0;
        }
      }

      .bigimg {
        img {
          width: 100%;
        }

        ul {
          list-style: none;
          -webkit-padding-start: 0;

          li {
            margin-top: 31px;
            margin-right: 55.79687px;
            padding-left: 0;
            display: inline-block;

            img {
              width: 142px;
              height: 82px;
            }
          }

          li.ohirgiimg {
            margin-right: 0;
          }
        }
      }

      .mijozlarfikri {
        padding-top: 23.5px;
        padding-bottom: 20.5px;

        .mijozlarcard {
          display: inline-block;
          margin-right: 35px;
          width: 47.4%;

          .media-body {
            h4.media-heading {
              font-size: 19px;
              font-weight: 600;
              line-height: 1.05;
              color: rgba(0, 0, 0, 0.89);

              span {
                font-size: 14px;
                line-height: 1.43;
                color: rgba(117, 117, 117, 0.89);
              }
            }

            p {
              font-size: 15px;
              line-height: 1.33;
              color: rgba(0, 0, 0, 0.89);
            }
          }

          .media-left {
            padding-right: 15px;
          }
        }

        .mijozlarcard.right {
          margin-right: 0;
        }
      }

      ul.hotel {
        .selfielogo {
          box-shadow: none;
          border: solid 5px #ececec;
          padding: 100px 0;

          h1 {
            margin: 24px 0 0;
            object-fit: contain;
            color: #979797;
          }
        }
      }
    }

    .bigimg {
      ul.hotelimg {
        li {
          margin-right: 47.7px;

          a {
            img {
              width: 82px;
              height: 82px;
            }
          }
        }
      }
    }

    .aviatime {
      span {
        top: -9px;
      }
    }
  }

  .bodycountry {
    .imgcountry {
      background-image: url("../boostin/images/country/rectangle-15.png");
      object-fit: contain;
      background-repeat: no-repeat;
      background-size: cover;
      height: 545px;

      h1 {
        position: relative;
        bottom: 0;
        left: 0;
      }
    }

    .container {
      .tailhaqida {
        padding: 40px 0 0;
        margin-bottom: 30.5px;
      }

      .rigthtext {
        font-size: 21px;
        line-height: 1.58;
        letter-spacing: -0.3px;
        text-align: justify;
        color: rgba(0, 0, 0, 0.84);

        p {
          margin-bottom: 30px;
        }
      }
    }

    ul.leftlist {
      list-style: none;
      -webkit-padding-start: 0;

      li {
        margin-bottom: 23px;
        font-size: 15px;
        line-height: 1.4;
        color: #000000;

        a {
          color: #5d98ff;
        }
      }
    }

    .sayohattext {
      padding: 0;
    }

    .sayohatbody {
      overflow: auto;
      padding-top: 96px;

      a.sayohatcard {
        object-fit: contain;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.3);
        display: block;
        background-repeat: no-repeat;
        background-size: cover;
        height: 151px;
        text-align: center;
        color: #ffffff;
        padding: 31px 38px 0;
        margin: 27.5px 0 1.5px;

        h4 {
          text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
          font-size: 25px;
          margin: 0 0 17px;
        }

        span {
          font-size: 16px;
          text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        }
      }
    }
  }

  .body,
  .cabinetauth,
  .cabinetregistr {
    .rentcardlist {
      .avtoijara {
        .leftcard {
          .card {
            ul {
              li.companyname {
                font-size: 24px;
                font-weight: bold;
                line-height: 1.17;
                margin-bottom: 5px;

                a {
                  color: #000000;
                }
              }

              li.mchj {
                font-size: 16px;
                line-height: 1.25;
                color: rgba(0, 0, 0, 0.54);
                margin-bottom: 17px;
              }

              li.manzil {
                margin-bottom: 6px;
                font-size: 16px;
                line-height: 1.25;
                color: rgba(0, 0, 0, 0.54);
              }

              li.telefon {
                font-size: 15px;
                line-height: 1.33;
                color: rgba(0, 0, 0, 0.89);

                a {
                  color: rgba(0, 0, 0, 0.89);
                }
              }

              li.sana {
                font-size: 15px;
                line-height: 1.33;
                color: rgba(1, 24, 103, 0.54);

                a {
                  color: rgba(1, 24, 103, 0.54);
                }
              }
            }
          }
        }
      }

      .tavsiyaqilamiz {
        padding: 93px 0 58px;

        .leftcard {
          .card {
            li.companyname {
              font-size: 24px;
              font-weight: bold;
              margin-bottom: 14px;
              line-height: 1.17;

              a {
                color: #000000;
              }
            }

            li.tavsiyaqilamiz {
              p {
                font-size: 16px;
                line-height: 1.38;
                color: rgba(0, 0, 0, 0.54);
              }
            }
          }
        }
      }
    }
  }

  .bodygidlar {
    .header {
      padding-top: 13px;
    }

    .gidlarbox {
      margin-bottom: 90px;
      margin-top: 41px;

      .boxheader {
        text-align: center;

        img {
          width: 100%;
          height: 90px;
          border-radius: 10px 10px 0 0;
        }

        .imgbefore {
          position: relative;
          top: -55px;
          width: 119px;
          height: 60px;
          margin: 0 auto;
          border-radius: 50%;

          img {
            width: 104px;
            height: 104px;
          }
        }

        p {
          font-size: 22px;
          font-weight: bold;
          color: #000000;
          margin-bottom: 9px;
        }

        span {
          font-size: 15px;
          color: #999999;
        }
      }

      .gidlinks {
        margin-top: 41px;
        border-top: solid 1px #f2f2f2;

        a {
          padding: 12px 0 7px;
          width: 49.26%;
          text-align: center;
          display: inline-block;

          ul {
            list-style: none;
            -webkit-padding-start: 0;

            li {
              font-size: 14px;
              margin-bottom: 5px;
              color: #898989;
            }
          }
        }

        a.gidlist {
          border-right: 1px solid #f2f2f2;
        }
      }
      border: solid 1px #f2f2f2;
      border-radius: 5px;
    }

    .table {
      padding-top: 32px;
      padding-bottom: 61px;
      overflow: auto;

      ul {
        list-style: none;
        -webkit-padding-start: 0;

        li {
          margin-bottom: 21px;

          img {
            margin-right: 5px;
          }

          a {
            font-size: 22px;
            color: #000000;
          }
        }
      }
    }
  }

  .gidsingle {
    .giduser {
      padding: 48px 41px;
      background-image: url("../boostin/images/gidlar/rectangle-3.png"), linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.71));
      background-repeat: no-repeat;
      height: 258px;
      width: 100%;
      border-radius: 5px;

      .media {
        .media-left {
          width: 162px;
          height: 162px;
          border-radius: 50%;
          background-color: white;
          padding: 10px;
          margin-left: 31px;

          img {
            width: 152px !important;
            height: 152px;
            border-radius: 50%;
          }
        }

        .media-body {
          padding-left: 31px;

          h4 {
            font-size: 37px;
            font-weight: bold;
            color: #ffffff;
            text-shadow: 0 3px 4px rgba(0, 0, 0, 0.35);
          }

          p {
            font-weight: normal;
            font-size: 22px;
            color: #ffffff;
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
            margin-bottom: 38px;
          }

          .hayotgozal {
            margin-left: 29px;
            position: relative;
            display: inline-block;
            padding: 10px 14px 13px;
            border-radius: 0 13px 13px 13px;
            background-color: rgba(255, 255, 255, 0.23);

            span {
              opacity: 1;
              font-size: 18px;
              color: #ffffff;
            }
          }

          .hayotgozal::before {
            left: -25px;
            top: 0;
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-top: 25px solid rgba(255, 255, 255, 0.23);
            border-left: 25px solid transparent;
          }
        }
      }
    }

    .gidhaqida {
      margin-top: 6.5px;
      overflow: auto;

      .col-md-4 {
        ul {
          list-style: none;
          -webkit-padding-start: 0;

          li {
            margin-bottom: 17px;
            color: #6d6d6d;
            font-size: 16px;

            a {
              color: #000000;
            }
          }

          li.instagram {
            margin-bottom: 68px;
          }

          li.ulanish {
            margin-bottom: 10px;
          }
        }
      }

      .col-md-8 {
        .gidlarhaqidatext {
          font-size: 18px;
          line-height: 1.33;
          text-align: justify;
          color: #000000;

          p {
            margin-bottom: 30px;
          }
        }
      }
    }

    .sayohuchunhead {
      margin-bottom: 28px;

      span {
        top: -8px;
      }
    }

    .usefulltonow {
      .card {
        display: inline-block;
        margin-bottom: 25px;
      }
    }
  }

  .fotoalbom {
    .albomlar {
      .card {
        position: relative;
        color: #ffffff;
        padding: 24px 24px 20px;
        width: 100%;
        display: inline-block;
        height: 269px;
        border-radius: 10px;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.71));
        margin-bottom: 40px;

        span.username {
          margin-bottom: 2px;
          display: block;
          font-size: 14px;
        }

        span.view {
          img {
            position: relative;
            top: -2px;
            margin-right: 6px;
            height: 20px;
          }
        }

        p {
          position: absolute;
          bottom: 0;
          font-size: 22px;
          font-weight: bold;
        }
      }
    }

    .table {
      padding-top: 32px;
      padding-bottom: 61px;
      overflow: auto;

      ul {
        list-style: none;
        -webkit-padding-start: 0;

        li {
          margin-bottom: 21px;

          img {
            margin-right: 5px;
          }

          a {
            font-size: 22px;
            color: #000000;
          }
        }
      }
    }
  }

  .cabinetmaqolla,
  .cabinetpost {
    .foydalanuvchi {
      padding: 48px 41px;
      background-image: url("../boostin/images/gidlar/rectangle-3.png"), linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.71));
      background-repeat: no-repeat;
      height: 258px;
      width: 100%;
      border-radius: 5px;

      .media {
        .media-left {
          width: 162px;
          height: 162px;
          border-radius: 50%;
          background-color: white;
          padding: 10px;
          margin-left: 31px;

          img {
            width: 152px !important;
            height: 152px;
            border-radius: 50%;
          }
        }

        .media-body {
          padding-left: 31px;

          h4 {
            font-size: 37px;
            font-weight: bold;
            color: #ffffff;
            text-shadow: 0 3px 4px rgba(0, 0, 0, 0.35);
          }

          p {
            font-weight: normal;
            font-size: 22px;
            color: #ffffff;
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
            margin-bottom: 38px;
          }

          .hayotgozal {
            margin-left: 0;
            position: relative;
            display: inline-block;
            padding: 10px 14px;
            border-radius: 13px;
            background-color: rgba(255, 255, 255, 0.23);

            span {
              opacity: 1;
              font-size: 14px;
              color: #ffffff;
            }
          }
        }
      }
    }

    .sayohuchunhead {
      margin-bottom: 28px;

      span {
        top: -8px;
      }
    }

    .usefulltonow {
      .card {
        display: inline-block;
        margin-bottom: 25px;
      }
    }

    .tab {
      margin-top: 37px;
      margin-bottom: 31px;

      ul {
        border-bottom: solid 1px #c4c4c4;
        margin-bottom: 30.5px;
        list-style: none;
        -webkit-padding-start: 0;

        li {
          position: relative;
          top: 1px;
          display: inline-block;
          margin-right: 33px;

          a {
            padding: 12px 0;
            display: block;
            font-size: 22px;
            color: #919191;
          }
        }

        li.active {
          a {
            color: black;
          }
          border-bottom: 1px solid black;
        }
      }
    }

    .buttons {
      list-style: none;
      -webkit-padding-start: 0;

      li {
        display: inline-block;
      }
    }

    form {
      .buttons {
        li {
          label {
            padding: 8px;
            font-size: 14px;
            color: #000000;
            border-radius: 2px;
            margin-right: 23px;
            font-weight: normal;
            background-image: linear-gradient(to bottom, #eeeeee, #d8d8d8);

            input {
              position: relative;
              top: 1px;
              margin-right: 6px;
            }
          }

          #nashrqilish,
          #ochirish {
            position: relative;
            top: -2px;
            border-radius: 2px;
            background-image: linear-gradient(to bottom, #eeeeee, #d8d8d8);
            padding: 9.5px;
            margin-right: 8px;
            border: none;
            font-size: 14px;
            color: #000000;
          }
        }
      }

      fieldset {
        table {
          tr {
            border-top: solid 1px #e5e5e5;

            td {
              padding: 6px;

              img {
                vertical-align: baseline;
              }
            }
          }
        }
      }
    }

    .pagination {
      float: right;
      padding-right: 10px;

      ul.paginationlist {
        list-style: none;
        -webkit-padding-start: 0;

        li {
          a {
            padding: 0 5px;
            font-size: 15px;
            color: #000000;
          }
          display: inline-block;
        }
      }
    }
  }

  .bodypost {
    .commentlar {
      box-shadow: 0 7px 16px -6px rgba(0, 0, 0, 0.5);
      position: relative;
      margin-top: 35px;

      img.photo {
        width: 100%;
      }
    }
  }

  .cabinetauth,
  .cabinetmaqolla,
  .cabinetpost,
  .cabinetregistr {
    .formleft,
    .formrigth,
    .registration,
    .saytkirishform {
      label {
        font-weight: normal;
        display: block;
        font-size: 16px;
        color: #6e6e6e;
        margin-bottom: 10px;
      }

      input {
        box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
        background-color: #ffffff;
        width: 100%;
        border: solid 1px #dadada;
        padding: 8px 10px;
      }

      a {
        float: right;
        margin-top: 5px;
        margin-bottom: 136px;
        padding: 8px 59px;
        font-size: 14px;
        background-image: linear-gradient(104deg, #ff5746, #ff528c);
        color: #ffffff;
      }

      a.saqlash {
        text-align: center;
        margin-bottom: 17px;
        margin-top: 32px;
        width: 100%;
      }

      input[type=file] {
        box-shadow: none;
        padding: 7px 10px;
      }

      input[type=password] {
        letter-spacing: 3px;
      }
    }
  }

  .cabinetauth,
  .cabinetregistr {
    .saytkirish {
      text-align: center;
      border-bottom: 1px solid #c4c4c4;
      padding: 10px 0 0;
      margin-bottom: 35px;

      span {
        font-size: 22px;
        font-weight: bold;
        color: #000000;
        position: relative;
        top: -9px;
        border-bottom: 1px solid black;
        padding: 12px 0;
      }
    }

    .saytkirishlink {
      font-weight: normal;
      overflow: auto;
      margin-top: 56px;

      label {
        font-weight: normal;

        input {
          font-weight: normal;
          position: relative;
          top: 2px;
          font-size: 16px;
          color: #6e6e6e;
        }
        padding: 8px 0;
      }

      a {
        font-weight: normal;
        text-align: center;
        font-size: 14px;
        padding: 8px;
        width: 100%;
        display: block;
        background-image: linear-gradient(104deg, #ff5746, #ff528c);
        color: #ffffff;
      }
    }

    .royhatdanotish {
      font-weight: normal;
      margin-top: 11px;
      text-align: center;

      label {
        font-weight: normal;
        font-size: 16px;
        color: #6e6e6e;
        margin-bottom: 11px;
      }

      a {
        font-weight: normal;
        text-align: center;
        font-size: 14px;
        padding: 8px 64px;
        display: inline-block;
        margin-bottom: 94px;
        background-image: linear-gradient(104deg, #ff5746, #ff528c);
        color: #ffffff;
      }
    }
  }
}

@import 'responsive.scss';